body {
    font-family: "Montserrat", sans-serif;
    background-color: #444444;
    margin: 0;
}

.top-bar {
    width: 100%;
    background-color: white;
}

.top-bar-in {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1400px;
    margin: auto;
    padding: 20px 40px;
}

.logo {
    width: 100px;
}

.social-icon-top {
    display: flex;
}

.ins,
.yt,
.dc {
    width: 36px;
    padding: 0 10px;
}

.ins:hover,
.yt:hover,
.dc:hover {
    opacity: 50%;
}

.main {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    padding: 50px 10px;
    margin: auto;
}

.profile {
    justify-content: center;
    text-align: center;
    padding: 20px;

}

.profile-img {
    width: 350px;
    margin: auto;
    padding: 20px;
}

.profile-img img {
    border-radius: 200px;
}

.name h1 {
    font-family: "Pirata One", system-ui;
    letter-spacing: 8px;
    word-spacing: 20px;
    font-size: 70px;
    padding: 20px 0;
    margin: 0;
}

.name h2 {
    font-size: 38px;
    margin: 0;
    padding: 20px;
    color: #313131;
}

.introduction {
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding-top: 38px;
    color: #313131;

}

.assignment {
    padding: 20px;
    text-align: center;
}

.first-line {
    display: flex;
    justify-content: space-around;
}

.week-exe {
    width: calc(100%/ 3);
}

.exe-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exe-info div {
    padding: 0 10px;
}

.line {
    opacity: 70%;
}

.exe {
    padding: 30px;
}

.exe-link {
    padding: 8px 0;
}

.exe-link a {
    text-decoration: none;
    font-size: 26px;
    color: #754fcc;
}

.exe-link a:hover {
    color: #261942;
}

.week-exe,
.week-exe-second {
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 50px;
    margin: 15px;
    padding: 30px 25px;
}

.calendar-icon {
    width: 32px;
}

.bottom-bar {
    background-color: white;
    text-align: center;
}

.bottom-bar-in {
    max-width: 1400px;
    padding: 40px;
    margin: auto;
}

.social-icon-bottom {
    display: flex;
    justify-content: center;
    /* gap: 15px; */
}

@media screen and (max-width: 960px) {
    .first-line {
        flex-direction: column;
        justify-content: center;
    }

    .profile-img {
        padding: 0;
    }

    .week-exe {
        width: auto;
    }
}