@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Pirata+One&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --title-green: #B9FF66;
    --title-dark: #191A23;
    --title-gray: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    max-width: 1400px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: inherit;
    font-family: inherit;
    border: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.top-bar,
.top-bar div {
    align-items: center;
}

.main-btn {
    display: flex;
    gap: 48px;
}

.request-btn button {
    border: #191A23 solid 1.5px;
    padding: 20px 28px;
    border-radius: 15px;
}

.main-btn h4,
.main-btn button {
    font-weight: 400;
    font-size: 18px;
}

.btn-item {
    position: relative;
}

.submenu {
    position: absolute;
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 6px 25px;
}

.submenu>div {
    padding: 3px 2px;
}

.about-submenu {
    width: 150px;
}

.services-submenu {
    width: 120px;
}

.menu-icon {
    width: 26px;
    display: none;
    cursor: pointer;
    z-index: 101;
    font-size: 30px;
}

.main {
    padding: 30px;
}

.logo a :hover {
    opacity: 0.7;
}

.btn-link :hover,
.submenu :hover {
    background-color: var(--title-green);
    border-radius: 5px;
}

.btn-item:hover .submenu {
    display: block;
}

@media screen and (max-width: 1200px) {
    .main-btn {
        gap: 38px;
    }

    .main-btn h4,
    .main-btn button {
        font-size: 16px;
    }

    .request-btn button {
        padding: 16px 22px;
        border-radius: 12px;
    }

}

@media screen and (max-width: 1000px) {
    .top-bar {
        padding: 20px;
    }

    .logo {
        max-width: 200px;
    }

    .main-btn {
        gap: 28px;
    }

    .main-btn h4,
    .main-btn button {
        font-size: 14px;
    }

    .request-btn button {
        padding: 12px;
        border-radius: 12px;
    }

    .main {
        padding: 20px;
    }

}

@media screen and (max-width: 800px) {
    .main-btn {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 100;
        background-color: white;
        gap: 50px;
        padding-top: 80px;
    }

    .main-btn.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .btn-item:hover .submenu {
        display: none;
    }

    .main-btn h4,
    .main-btn button {
        font-weight: 400;
        font-size: 18px;
    }

    .request-btn button {
        border: #191A23 solid 1.5px;
        padding: 20px 28px;
        border-radius: 15px;
    }
}