:root {
    --title-green: #B9FF66;
    --title-dark: #191A23;
    --title-gray: #F3F3F3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    max-width: 1400px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

button {
    background-color: inherit;
    font-family: inherit;
    border: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.top-bar,
.top-bar div {
    align-items: center;
}

.main-btn {
    display: flex;
    gap: 48px;
}

.request-btn button {
    border: #191A23 solid 1.5px;
    padding: 20px 28px;
    border-radius: 15px;
}

.main-btn h4,
.main-btn button {
    font-weight: 400;
    font-size: 18px;
}

.menu-icon {
    width: 26px;
    display: none;
}

.main {
    padding: 30px;
}

@media screen and (max-width: 1200px) {
    .main-btn {
        gap: 38px;
    }

    .main-btn h4,
    .main-btn button {
        font-size: 16px;
    }

    .request-btn button {
        padding: 16px 22px;
        border-radius: 12px;
    }


}

@media screen and (max-width: 1000px) {
    .top-bar {
        padding: 20px;
    }

    .logo {
        max-width: 200px;
    }

    .main-btn {
        gap: 28px;
    }

    .main-btn h4,
    .main-btn button {
        font-size: 14px;
    }

    .request-btn button {
        padding: 12px;
        border-radius: 12px;
    }

    .main {
        padding: 20px;
    }

}

@media screen and (max-width: 800px) {
    .main-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}