.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.story-one {
    display: flex;
    justify-content: space-between;
    background-color: var(--title-gray);
    padding: 50px 70px;
    border-radius: 60px;
    gap: 80px;
}

.story-one>div {
    width: calc(50% - 40px);
}

.story-one img {
    width: 100%;
}

.title-proven-small {
    display: none;
}

.story-proven {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}

.title-proven h1 {
    font-size: 64px;
    font-weight: 550;
}

.content-proven p {
    font-size: 24px;
}

.story-two {
    display: flex;
    justify-content: space-between;
    background-color: var(--title-dark);
    color: white;
    padding: 50px;
    border-radius: 60px;
}

.star-icon {
    width: 32px;
    display: none;
}

.star-icon img {
    width: 100%;
}

.story-two-inner {
    display: flex;
    justify-content: space-between;
    gap: 100;
}

/* .story-two-inner>div {
    width: calc(50% - 50px);
} */

.story-featured {
    width: calc(55% - 50px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title-featured h1 {
    font-size: 44px;
    font-weight: 500;
    padding: 0 12px;
    border-radius: 10px;
}

.title-featured-ori h1 {
    display: inline-block;
    background-color: var(--title-green);
    color: var(--title-dark);

}

.title-featured-small {
    color: var(--title-green);
    display: none;
}

.sup-featured h3 {
    font-size: 40px;
    font-weight: 500;
}

.content-featured p {
    font-size: 20px;
}

.go-read {
    display: flex;
    align-items: center;
    gap: 18px;
}

.read-icon {
    max-width: 46px;
}

.read-link {
    font-size: 20px;
    color: var(--title-green);
}

.go-read-bottom {
    display: none;
}

.meterial {
    width: calc(45% - 50px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.meterial>div {
    display: flex;
    gap: 30px;
}

.data {
    width: calc(50% - 15px);
    background-color: white;
    color: var(--title-dark);
    aspect-ratio: 1/1;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 25px;
    gap: 20px;
}

.data h1 {
    font-size: 48px;
    font-weight: 600;
}

.data p {
    font-size: 22px;
    font-weight: 500;
}

@media screen and (max-width: 1260px) {
    .main {
        gap: 80px;
    }

    .story-proven {
        padding: 0;
    }

    .title-proven h1 {
        font-size: 46px;
    }

    .content-proven p {
        font-size: 18px;
    }

    .story-featured {
        gap: 30px;
    }

    .title-featured h1 {
        font-size: 34px;
    }

    .sup-featured h3 {
        font-size: 30px;
    }

    .content-featured p {
        font-size: 16px;
    }

    .data {
        border-radius: 30px;
        padding: 20px;
        gap: 15px;
    }

    .data h1 {
        font-size: 36px;
    }

    .data p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        gap: 60px;
    }

    .story-one,
    .story-two {
        border-radius: 40px;
    }

    .story-proven {
        gap: 30px;
    }

    .title-proven h1 {
        font-size: 35px;
    }

    .content-proven p {
        font-size: 14px;
    }

    .story-featured {
        gap: 20px;
    }

    .title-featured h1 {
        padding: 0 5px;
        font-size: 26px;
        border-radius: 5px;
    }

    .sup-featured h3 {
        font-size: 22px;
    }

    .content-featured p {
        font-size: 14px;
    }

    .go-read {
        gap: 10px;
    }

    .read-icon {
        max-width: 32px;
    }

    .read-link {
        font-size: 16px;
    }

    .meterial {
        gap: 18px;
    }

    .meterial>div {
        gap: 18px;
    }

    .data {
        width: calc(50% - 9px);
        border-radius: 20px;
        padding: 10px;
        gap: 10px;
    }

    .data h1 {
        font-size: 28px;
    }

    .data p {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .story-one {
        flex-direction: column;
        background-color: white;
        padding: 0;
        border-radius: 0;
        gap: 40px;
    }

    .story-one>div {
        width: 100%;
    }

    .title-proven-small {
        display: block;
    }

    .story-proven {
        gap: 0;
    }

    .title-proven-ori {
        display: none;
    }

    .title-proven h1 {
        font-size: 58px;
    }

    .content-proven p {
        font-size: 24px;
    }

    .story-two {
        padding: 40px;
        gap: 10px;
    }

    .star-icon {
        display: block;
        width: 32px;
        padding: 5px 0;
    }

    .story-two-inner {
        width: 90%;
        flex-direction: column;
        gap: 40px;
    }

    .story-two-inner>div {
        width: 100%;
    }

    .story-featured {
        gap: 40px;
    }

    .title-featured-ori {
        display: none;
    }

    .title-featured-small {
        display: block;
    }

    .title-featured-small h1 {
        padding: 0;
        font-size: 36px;
    }

    .sup-featured h3 {
        font-size: 32px;
    }

    .content-featured p {
        font-size: 24px;
    }

    .go-read-ori {
        display: none;
    }

    .meterial>div {
        flex-direction: column;
    }

    .data {
        width: 100%;
        aspect-ratio: 0;
        padding: 20px;
        gap: 15px;
    }

    .data h1 {
        font-size: 38px;
    }

    .data p {
        font-size: 22px;
    }

    .go-read-bottom {
        display: block;
        display: flex;
        gap: 18px;
    }

    .read-icon {
        max-width: 46px;
    }

    .read-link {
        font-size: 20px;
    }
}