@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Pirata+One&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.main {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 100px 20px;

}

.main>div {
    background-color: white;
    max-width: 30%;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(147, 177, 189, 0.568) 20px -20px 100px;
    position: relative;
    height: 430px;

}

.attractions-img img {
    border-radius: 20px;
}

.attractions-details {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.attractions-details h5 {
    color: rgb(184, 184, 184);
}

.icon-gp {
    display: flex;
    gap: 15px;
}

.icon-gp>div {
    padding: 8px;
    background-color: rgb(184, 184, 184);
    border-radius: 20px;
    aspect-ratio: 1/1;
    align-items: center;
}

.icon-gp img {
    width: 85%;
    margin: auto;
}

.interactive {
    display: flex;
    justify-content: space-between;
}

.place-info {
    display: flex;
    align-items: end;
    gap: 10px;
}

.progress {
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 6px 25px;
    position: absolute;
    right: -140px;
    bottom: 80px;
}

.small-img {
    max-width: 68px;
}

.small-img img {
    border-radius: 35px;
}

.schedule-rate {
    display: flex;
}

.progress-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress-detail h5 {
    color: rgb(184, 184, 184);
}

.progress-percentage {
    color: rgb(185, 124, 255);
}

.progress-bar {
    width: 100%;
    display: flex;
    height: 10px;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
}

.progress-done {
    background-color: rgb(185, 124, 255);
    width: 45%;
    border-radius: 5px;
}

/* .progress-none {
    background-color: rgb(204, 204, 204);
    width: 55%;
    border-radius: 5px;
} */

/* .first-location {
    position: relative;
    height: 430px;
}

.first-progress {
    position: absolute;
    right: -140px;
    bottom: 70px;
} */

@media screen and (max-width: 1300px) {
    .main {
        flex-direction: column;
        gap: 80px;
    }

    .main>div {
        margin: auto;
        max-width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .progress {
        right: -50px;
    }
}