@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Pirata+One&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(202, 236, 255);
}

img {
    max-width: 100%;
    display: block;
}

.main {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-around
}

.main>div {
    background-color: white;
    width: 30%;
    padding: 20px;


}