.herobannertitle {
    text-align: center;
}

.about-herobanner {
    background-image: url(../images/about_herobanner.jpg);

}

.about-section1 {
    display: flex;
    gap: var(--row-img-paragraph);
}

.intro-img {
    width: 50%;
    background-image: url(../images/aboutintro.jpg);
    aspect-ratio: 1 / 1.6;
    background-size: cover;
    background-position: center;

}

.about_intro {
    width: 50%;
}

.aboutintro-title {
    width: 80%;
    gap: 20px;
}

.about-section2 {
    background-color: var(--medium-warm-gray);
    /* position: relative;
    bottom: 115px; */
    /* margin-bottom: -115px; */
}

.about_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutintro-text {
    margin-top: 20px;
    width: 95%;
}

.aboutintro-slogan {
    margin-top: 51px;
}

.categories-photo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 100px;
}

.frame {
    width: 30%;
}

.team-photo {
    background-image: url(../images/aboutteam.jpg);
    /* background-size: cover;
    width: 30%;
    aspect-ratio: 1 / 1;
    box-shadow: var(--shadow); */
}

.service-photo {
    background-image: url(../images/aboutservice.jpg);
    /* background-size: cover;
    width: 30%;
    aspect-ratio: 1 / 1;
    box-shadow: var(--shadow); */

}

/* .overlay-color {
    background-color: var(--transparency-bg);
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--small-img);
} */

/* .overlay-color:hover {
    background-color: var(--transparency-bg-opacity);
} */

.overlay-color h2 {
    color: var(--light-cream);
}

/* .overlay-color:hover {
    display: none;
} */

.team-photo {
    border-radius: var(--small-img);
}


.service-photo {
    border-radius: var(--small-img);
}



.craftsmanship {
    display: flex;
    justify-content: space-around;
    margin-top: -160px;
    padding: 50px 0px;
    align-items: center;
}

.craftsmanship-text {
    width: 50%;
    padding: 30px;
}

.craftsmanship-photo {
    width: 40%;
}


/* .craftsmanship_text {
    margin-top: 20px;
} */

.survey {
    margin-top: 60px;
}

.linespacing hr {
    margin-top: 43px;
    border-top: 3px solid var(--light-cream);
}

.handcrafted {
    display: flex;
    justify-content: space-between;
}

.line1 hr {
    width: 85%;
}


.wood {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.line2 hr {
    width: 90%;

}

.quality {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.line3 hr {
    width: 95%;
}

.section3_title h1 {
    color: var(--deep-cocoa-brown);
}

.section3_title {
    text-align: center;
    /* position: relative;
    bottom: 50px; */
}

.about-section3 {
    background-color: var(--warm-light-gray);
    aspect-ratio: 1 / 0.4;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: var(--large-img);
    padding: var(--section-padding);
}

.section3 {
    padding: var(--section-padding-mobile);
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}



.section3_text {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}



@media screen and (max-width:2400px) {
    .mobilecraftsmanship-photo {
        display: none;
    }

    .craftsmanship_smalltitle_mobile {
        display: none;
    }

    .aboutintro-smalltitle-mobile {
        display: none;
    }
}

@media screen and (max-width:1050px) {

    .mobilecraftsmanship-photo {
        display: none;
    }

    .about-section2 {
        background-color: var(--medium-warm-gray);
        position: relative;
        bottom: 70px;
        margin-bottom: -70px;
    }
}

@media screen and (max-width:900px) {


    .mobilecraftsmanship-photo {
        display: none;
    }

    .about-section2 {
        background-color: var(--medium-warm-gray);
        position: relative;
        bottom: 0px;
        margin-bottom: 0px;
    }

}


@media screen and (max-width:800px) {
    .craftsmanship_smalltitle {
        display: none;
    }

    .aboutintro-smalltitle {
        display: none;
    }

    .aboutintro-smalltitle-mobile {
        display: block;
    }

    .craftsmanship_smalltitle_mobile {
        display: block;
    }

    .about-section1 {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .about-section2 {
        background-color: var(--medium-warm-gray);
        position: relative;
        bottom: 0px;
        margin-bottom: 0px;
        padding: var(--section-padding-mobile);
    }

    .about_intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: var(--section-padding);
        width: 100%;
    }

    .aboutintro-title {
        width: 100%;
    }

    .aboutintro-text {
        width: 100%;
    }

    .about-section1 {
        flex-direction: column-reverse;
    }

    .mobileintro-img {
        display: block;
    }

    .mobileintro-img img {
        width: 100%;
    }

    .intro-img {
        width: 100%;
        background-image: url(../images/aboutintro.jpg);
        aspect-ratio: 1 / 0.8;
        background-size: cover;
        background-position: center;

    }

    .categories-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--row-list-img-three-smaller);
        position: relative;
        bottom: 0px;
    }

    .mobilecraftsmanship-photo {
        display: block;
        width: 100%;
    }

    .craftsmanship-photo {
        display: none;
    }

    .craftsmanship-text {
        width: 100%;
        text-align: center;
    }

    .section3,
    .section3_text {
        gap: var(--row-list-img-three-smaller);
    }

    /* .section3_title {
        position: relative;
        bottom: 0px;
        padding: 20px;
    } */

    .team-photo {
        background-image: url(../images/aboutteam.jpg);
        background-size: cover;
        width: 50%;
        aspect-ratio: 1 / 1;
    }

    .service-photo {
        background-image: url(../images/aboutservice.jpg);
        background-size: cover;
        width: 50%;
        aspect-ratio: 1 / 1;
    }

    .craftsmanship-text {
        width: 100%;
        padding: 50px;
    }

    .craftsmanship {
        display: flex;
        justify-content: space-around;
        margin-top: -0px;
        padding: var(--section-padding-mobile);
        align-items: center;
    }

}