.herobannertitle {
    position: relative;
    bottom: 350px;
    text-align: center;
}

.about-section1 {
    display: flex;
}

.intro-img {
    width: 50%;
    position: relative;
    bottom: 115px;
}

.about_intro {
    width: 50%;
}

.aboutintro-title {
    width: 80%;
    gap: 20px;
}