.herobannertitle {
    position: relative;
    bottom: 350px;
    text-align: center;
}

.herobannertitle p {
    color: #E5DED2;
    font-style: italic;
}

.about-section1 {
    display: flex;
    gap: 76px;
}

.intro-img {
    width: 50%;
    position: relative;
    bottom: 115px;
}

.about_intro {
    width: 50%;
}

.aboutintro-title {
    width: 80%;
    gap: 20px;
}

.about-section2 {
    background-color: #B3A89B;
    position: relative;
    bottom: 115px;
}

.about_intro {
    margin-top: 150px;
}


.aboutintro-title {
    margin-top: -6px;
}

.aboutintro-text {
    margin-top: 20px;
    width: 95%;
}

.aboutintro-slogan {
    margin-top: 51px;
}

.categories-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 196px;
    position: relative;
    bottom: 210px;
}

.team-photo {
    background-image: url(../images/aboutteam.jpg);
    width: 30%;
    aspect-ratio: 1 / 1;
}

.service-photo {
    background-image: url(../images/aboutservice.jpg);
    width: 30%;
    aspect-ratio: 1 / 1;
}

.overlay-color {
    background-color: var(--transparency-bg);
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--small-img);
}

.overlay-color:hover {
    background-color: var(--transparency-bg-opacity);
}

.overlay-color h2 {
    color: #FDF8F2;
}



.team-photo {
    border-radius: var(--small-img);
}

.team-photo img {
    border-radius: var(--small-img);
}

.service-photo {
    border-radius: var(--small-img);
}

.service-photo img {
    border-radius: var(--small-img);
}


.craftsmanship {
    display: flex;
    gap: 76px;
    margin-top: -160px;
    padding: 50px 0px;
}

.craftsmanship-text {
    width: 50%;
    padding: 60px;
}

.craftsmanship-photo {
    width: 50%;
}

.craftsmanship_title {
    margin-top: -6px;
}

.craftsmanship_text {
    margin-top: 20px;
}

.survey {
    margin-top: 78px;
}

.handcrafted {
    display: flex;
    justify-content: space-between;
}

.line1 hr {
    margin-top: 43px;
    width: 85%;
    border-top: 3px solid #FDF8F2;
}


.wood {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.line2 hr {
    margin-top: 43px;
    width: 90%;
    border: 0;
    border-top: 3px solid #FDF8F2;

}

.quality {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.line3 hr {
    margin-top: 53px;
    width: 95%;
    border-top: 3px solid #FDF8F2;

}

.section3_title h1 {
    color: #3B2A23;
}

.section3_title {
    text-align: center;
    position: relative;
    bottom: 50px;
}

.about-section3 {
    background-color: #E5DED2;
    aspect-ratio: 1 / 0.4;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: var(--large-img);
}

.section3 {
    padding-bottom: 200px;
}

.section3_text {
    display: flex;
    flex-direction: column;
    gap: 76px;
}