.hero-banner {
    background-image: url(../images/bedroom-back.jpg);
}

.hero-title {
    text-align: center;
}

.new-arrival {
    aspect-ratio: 1/0.1;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--medium-warm-gray);
}

.new-img {
    background-image: url(../images/new-bed.jpg);
    width: calc(60% - 38px);
    aspect-ratio: 1 / 0.4;
    background-size: cover;
}

.best-seller {
    display: flex;
    gap: var(--row-list-img-three);
    align-items: center;
}

.best-img {
    background-image: url(../images/best.jpg);
    width: 50%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    width: calc(50% - 38px);
}

.six-row {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

.categories-set {
    text-align: center;
    padding: 120px 0 120px 0;
    gap: var(--row-list-img-three);
    background-color: var(--warm-light-gray);
}

.frame {
    width: calc(30.2% - 40.67px);
}

.p-categories h6 {
    color: var(--deep-cocoa-brown);
}

.p-categories {
    margin-bottom: 61px;
}

.six-row h2 {
    color: var(--light-cream);
}

.beds {
    background-image: url(../images/beds.jpg);
}

.mattresses {
    background-image: url(../images/mattresses-sqr.jpg);
}

.wardrobes {
    background-image: url(../images/wardrobes-sqr.jpg);
}

.tables {
    background-image: url(../images/besides-tables.jpg);
}

.dressers {
    background-image: url(../images/dressers-sqr.jpg);
}

.bedding {
    background-image: url(../images/bedding-sqr.jpg);
}