.hero-banner {
    background-image: url(../images/bedroom-back.jpg);
}

.hero-title {
    text-align: center;
}

.new-arrival {
    aspect-ratio: 1/0.1;
    background-color: var(--medium-warm-gray);
    display: flex;
    align-items: center;
}

.new-arrival-info {
    width: 50%;
    padding: var(--section-padding);
    text-align: center;
}

.new-img {
    background-image: url(../images/new-bed.jpg);
    width: 50%;
    aspect-ratio: 1 / 0.4;
    background-size: cover;
}

.best-seller {
    display: flex;
    gap: var(--row-img-paragraph);
    align-items: center;
    padding: var(--section-padding);
    padding: var(--section-padding);
}

.mobile-title,
.mobile-p {
    display: none;
}


.best-img {
    background-image: url(../images/best.jpg);
    background-size: cover;
    width: 50%;
    aspect-ratio: var(--sq-img);
    padding: var(--section-padding);
    border-radius: var(--small-img);
}

.best-info {
    width: 70%;
}

.mobile-new {
    display: none;
}

.mobile-best-info {
    display: none;
    text-align: center;
}

.six-row {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

.categories-set {
    text-align: center;
    padding: 120px 0 120px 0;
    gap: var(--row-list-img-three);
    background-color: var(--warm-light-gray);
}

.frame {
    width: calc(30.2% - 40.67px);
}

.p-categories h6 {
    color: var(--deep-cocoa-brown);
}

.p-categories {
    padding-bottom: 61px;
    max-width: var(--mobile-max-content);
    margin: auto;
}

.six-row h2 {
    color: var(--light-cream);
}

.beds {
    background-image: url(../images/beds.jpg);
}

.mattresses {
    background-image: url(../images/mattresses-sqr.jpg);
}

.wardrobes {
    background-image: url(../images/wardrobes-sqr.jpg);
}

.tables {
    background-image: url(../images/besides-tables.jpg);
}

.dressers {
    background-image: url(../images/dressers-sqr.jpg);
}

.bedding {
    background-image: url(../images/bedding-sqr.jpg);
}

.tips-full {
    display: flex;
    align-items: center;
    padding: var(--section-padding);
}

.tips-info {
    width: 50%;
    padding: var(--section-padding);
}

.tips-img,
.tips-img-big {
    background-image: url(../images/tips.jpg);
    background-size: cover;
    width: 50%;
    aspect-ratio: var(--sq-img);
    border-radius: var(--small-img)
}

.inspi-info-mobile {
    display: none;
}

.inspi {
    display: flex;
    align-items: center;
    background-color: var(--medium-warm-gray);
    gap: var(--row-img-paragraph);
    margin-bottom: 30px;
    padding-right: 45px;
}

.inspi-info {
    width: 50%;
    padding-right: 30px;
}

.inspi-info-mobile {
    display: none;
    text-align: center;
    background-color: var(--transparency-bg);
    width: 100%;
    aspect-ratio: 1/0.3;
    align-items: center;
    justify-content: center;
}

.inspi-info-mobile h2,
.inspi-info-mobile h5 {
    color: var(--light-cream);
}


.inspi-img {
    background-image: url(../images/inspi-img.jpg);
    border-radius: var(--left-img);
    box-shadow: var(--shadow);
    width: calc(50% - 38px);
    aspect-ratio: var(--left-overlay-img);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1001;
    top: -15px;
    margin-bottom: -30px;
    transition: all 0.3s;
}

.inspi-img:hover {
    transform: scale(1.02)
}

.what-people-say {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    padding: var(--section-padding-mobile);
}

.what-people-say h1 {
    color: var(--deep-cocoa-brown);
}

.evaluation-card {
    background-color: var(--warm-light-gray);
    width: 70%;
    aspect-ratio: 1 / 0.4;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: var(--large-img);
    gap: var(--row-list-img-three);
    padding: var(--section-padding-smaller-size);
}

.evaluation-card>div {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.what-people-say .title {
    line-height: 0.8;
}

@media screen and (max-width: 1000px) {
    .six-row {
        flex-direction: row;
        width: 70%;
        margin: auto;
        gap: var(--row-list-img-three-smaller);
    }

    .content-row {
        flex-direction: column;
        width: calc(50% - 15.5px);
        gap: var(--row-list-img-three-smaller);
    }

    .frame {
        width: 100%;
    }

    .best-seller {
        gap: var(--row-list-img-three-smaller);
    }

}

@media screen and (max-width: 900px) {
    .new-arrival-info {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    .categories-set {
        padding-top: 30px;
    }

    .inspi {
        flex-direction: column;
        text-align: center;
        padding: 0 0 42px 0;
        top: 0;
        margin-bottom: 0;
        gap: var(--row-img-paragraph-smaller);
    }

    .inspi-info-mobile {
        display: flex;
    }

    .inspi-img {
        width: 100%;
        aspect-ratio: 1 / 0.3;
        border-radius: 0;
        box-shadow: none;
        transition: none;
    }

    .inspi-img:hover {
        transform: none;
    }

    .inspi-info {
        padding: 0;
        width: 100%;
        max-width: var(--mobile-max-content);
    }

    .inspi-info>.title {
        display: none;
    }

    .best-seller {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--row-img-paragraph-smaller);
    }

    .best-info {
        width: 100%;
        text-align: center;
    }

    .mobile-best-info {
        display: block;
        margin: auto;
    }

    .best-title {
        display: none;
    }

    .best-img {
        width: 100%;
        text-align: center;
        aspect-ratio: var(--img-card);
        border-radius: var(--large-img);
    }

    .mobile-title,
    .mobile-p {
        display: block;
    }

    .tips-info {
        display: none;
    }

    .tips-img {
        width: 100%;
        text-align: center;
        aspect-ratio: var(--img-card);
        border-radius: var(--large-img);
    }

    .tips-img-big {
        display: none;
    }

    .p-categories {
        padding-bottom: 41px;
    }

    .tips-mobile-full {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--row-img-paragraph-smaller);
    }

}

@media screen and (max-width: 700px) {
    .categories-set {
        gap: var(--row-list-img-three-smaller);
    }

    .six-row {
        flex-direction: column;
        width: 50%;
    }

    .content-row {
        width: 100%;
    }

    .new-arrival {
        display: flex;
        flex-direction: column;
    }


    .new-img {
        width: 100%;
    }

    .new-arrival-info {
        width: 100%;
    }

}