@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Pirata+One&family=Rubik+Glitch&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: "SF Pro";
    src: url("../font/SF-Pro.ttf") format("ttf");
    font-display: swap;
}

.done h3 {
    color: green;
}

/* font family */
:root {
    --heading: "DM Serif Display", serif;
    --paragraph: "SF Pro", sans-serif;
}

/* font weight */
:root {
    --regular: 400;
    --semibold: 550;
}

/* font size */
/* h1-h1 h2-h2 h3-h3 p-p1 plita-h6 psemi-h5 */
:root {
    --h1-size: 60px;
    --h2-size: 32px;
    --h3-p1-size: 16px;
    --small-caption-size: 16px;

    --h1-smaller-size: 46px;
    --h2-smaller-size: 30px;

    --h1-onesmaller-size: 42px;

    --h1-medium-size: 36px;
    --h2-medium-size: 26px;
    --h3-p1-medium-size: 15px;
    --small-caption-medium-size: 115px;

    --h1-mobile-size: 32px;
    --h2-mobile-size: 24px;
    --h3-mobile-size: 14px;
    --p1-mobile-size: 12px;
    --small-caption-mobile-size: 14px;
}

/* Color  */
:root {
    --light-cream: #FDF8F2;
    --deep-cocoa-brown: #3B2A23;
    --soft-sand-beige: #F3E7D8;
    --warm-light-gray: #E5DED2;
    --medium-warm-gray: #B3A89B;
    --warm-golden-accent: #D9B26B;
    --clay-taupe: #C3A78A;
    --transparency-bg: rgba(59, 42, 35, 0.61);
    --transparency-bg-opacity: #3b2a2327;
}

/* hover color  */
:root {
    --transparency-bg-opacity: #3b2a2327;
}

/* Border Radius */
:root {
    --small-img: 52px;
    --large-img: 22px;
    --top-left-img: 0 0 22px 0;
    --left-img: 0 22px 22px 0;
    /* --small-img-mobile: 32px;
    --large-img-mobile: 12px;
    --top-left-img-mobile: 0 0 12px 0;
    --left-img-mobile: 0 12px 12px 0; */
}

/* box-shadow */
:root {
    --shadow: rgba(0, 0, 0, 0.25) 11px 14px 32.8px;
}

/* padding and gap*/
:root {
    /* 普通的padding(东西有set在中间可以用) */
    --section-padding: 42px;
    /* 打横的（左边照片，右边文字那种）可以用这个padding */
    --row-img-paragraph: 76px;
    /* 图片有三张的间距 */
    --row-list-img-three: 61px;
    /* 图片有四张的间距 */
    --row-img-four: 41px;
    --section-padding-smaller-size: 22px;
    --list-title-paragraph: 20px;
    --frame-inside: 24px;
    --row-list-img-three-smaller: 31px;
    --row-img-paragraph-smaller: 38px;

    /* 手机上下的padding */
    --section-padding-mobile: 61px 0;
}

/* max-width */
:root {
    --mobile-max-content: 400px;
}

/* aspect-ratio */
:root {
    --sq-img: 1 / 1;
    --img-card: 1 / 0.5;
    --left-overlay-img: 1 / 0.8;
}

/* btn-size */
/* big-btn and small-btn */
.big-btn {
    background-color: var(--deep-cocoa-brown);
    padding: 20px 60px;
    border-radius: 40px;
}

.big-btn p {
    color: var(--light-cream);
}

.small-btn {
    background-color: var(--deep-cocoa-brown);
    padding: 16px 40px;
    border-radius: 25px;
}

.small-btn p {
    color: var(--light-cream);
}

/* html class name setup */

/* title and paragraph */
/* 全部标题离段落20px自己命名后面空格加info class="xxx info" */
/* <div class="craft-info info"> */
.info {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

/* hero-banner */
/* 每一页hero banner class name 记得空格加多一个hero或者直接叫hero */
/* <div class="hero-banner hero"> */
.hero {
    background-position: center;
    /* min-height: 555px; */
    aspect-ratio: 1 / 0.45;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--section-padding)
}


/* Categories content */
/* 针对相同元素那种选择 可以直接统一用相同的 */
/* 针对一页三格那种 外面的div加content-row */
/* <div class="first-row content-row"> */
.content-row {
    display: flex;
    justify-content: center;
    gap: var(--row-list-img-three);
}

/* 任何要做到相同效果的可以使用frame */
/* 不一定要一行三格 内部的style*/
/* <div class="frame-living frame"> */
.frame {
    /* width: calc(30.2% - 40.67px); */
    aspect-ratio: var(--sq-img);
    background-size: cover;
    border-radius: var(--small-img);
    box-shadow: var(--shadow);
}

.frame-bg-color {
    background-color: var(--transparency-bg);
    width: 100%;
    aspect-ratio: 1 /1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--frame-inside);
    border-radius: var(--small-img);
}


/* 针对一个row有4个人物的介绍 */
.team-member {
    display: flex;
    justify-content: center;
    gap: var(--row-img-four);
}

.personal-intro {
    width: calc(23.5% - 30.75px);
    justify-content: center;
}

.personal-intro img,
.profile-img {
    border-radius: var(--large-img);
}

.profile-info {
    width: 85%;
    background-color: var(--light-cream);
    box-shadow: var(--shadow);
    padding: 24px 0;
    border-radius: var(--large-img);
    margin: auto;
    position: relative;
    top: -61px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: var(--h1-size);
    color: var(--light-cream);
    font-family: var(--heading);
    font-weight: var(--regular);
    letter-spacing: calc(var(--h1-size) * 0.02);
}

h2,
h3 {
    font-family: var(--heading);
    font-weight: var(--regular);
    color: var(--deep-cocoa-brown);
}

h2 {
    font-size: var(--h2-size);
    letter-spacing: calc(var(--h2-size) * 0.02);
}

h3 {
    font-size: var(--h3-p1-size);
    letter-spacing: calc(var(--h3-p1-size) * 0.02);
}

h5 {
    font-size: var(--small-caption-size);
    font-family: var(--paragraph);
    font-weight: var(--semibold);
    letter-spacing: calc(var(--small-caption-size) * 0.08);
}

p,
h6 {
    font-size: var(--h3-p1-size);
    font-family: var(--paragraph);
    font-weight: var(--regular);
}

h6 {
    font-style: italic;
    color: var(--light-cream);
}

.top-bar {
    background-color: var(--soft-sand-beige);
}

h5,
p {
    color: var(--deep-cocoa-brown);
}

.top-bar-in {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px 42px;
}

.inner {
    max-width: 1400px;
    margin: auto;
}

.logo,
.lower-logo {
    width: 100px;
}

.main-btn {
    display: flex;
    gap: 40px;
}

.have-sub {
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn-item {
    position: relative;
}

.submenu-icon {
    width: 16px;
}

.submenu {
    position: absolute;
    z-index: 1001;
    background-color: var(--soft-sand-beige);
    padding: 16px;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    flex-direction: column;
    gap: 10px;
    display: none;
}

.about-submenu {
    width: 140px;
}

.products-submenu {
    width: 125px;
}

.service-submenu {
    width: 160px;
}

.menu-icon {
    display: none;
    position: relative;
    z-index: 1003;
}

.main {
    background-color: var(--light-cream);
    max-width: calc(1400px - 84px);
    margin: auto;
}

.footer h6,
.footer h2,
.lower-footer h6 {
    color: var(--light-cream);
}

.footer {
    background-color: var(--medium-warm-gray);
}

.footer p {
    color: var(--light-cream);
}

.footer-in {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 35px 42px;
}

.footer-slogbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .footer-discover-btn {
    background-color: var(--deep-cocoa-brown);
    padding: 16px 40px;
    border-radius: 25px;
} */

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-contact-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contact-info {
    display: flex;
    gap: 25px;
}

.footer-page-btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page-btn {
    display: flex;
    gap: 35px;
}

.footer-sub-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-btn {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.lower-footer {
    background-color: var(--deep-cocoa-brown);
}

.lower-footer-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 42px;
}

.logo:hover {
    opacity: 0.8;
}

.main-btn>div :hover {
    color: var(--medium-warm-gray);
}

.main-btn>div:hover .have-sub img {
    opacity: 0.5;
}

.btn-item:hover .submenu {
    display: flex;
}

.big-btn:hover,
.small-btn:hover {
    background-color: var(--warm-light-gray);
    box-shadow: var(--shadow);
}

.small-btn:hover p,
.big-btn:hover p,
.footer-sub-page>div:hover p,
.footer-home:hover p,
.footer-contact:hover p {
    color: var(--deep-cocoa-brown);
}

.social-btn-link:hover {
    opacity: 0.5;
}

.frame-bg-color:hover {
    background-color: var(--transparency-bg-opacity);
}

.frame-bg-color:hover h2 {
    display: none;
}

@media screen and (max-width: 1300px) {
    h1 {
        font-size: var(--h1-smaller-size);
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: var(--h1-onesmaller-size);
    }

    h2 {
        font-size: var(--h2-smaller-size);
    }

    .main-btn {
        gap: 50px;
    }

    /* .footer-discover-btn {
        padding: 12px 24px;
    } */
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: var(--h2-medium-size);
    }

    h6,
    p {
        font-size: var(--h3-p1-medium-size);
    }

    .top-bar-in,
    .footer-in {
        padding: 24px;
    }

    .lower-footer-in {
        padding: 20px 24px;
    }

    .main-btn {
        gap: 40px;
    }

    .team-member {
        flex-wrap: wrap;
    }

    .personal-intro {
        width: calc(35% - 20.5px);
    }

    .profile-img img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    h3 {
        font-size: var(--h3-p1-medium-size);
    }

    .footer-slogbar {
        flex-direction: column;
        gap: 41px;
        text-align: center;
    }

    /* .footer-discover-btn {
        padding: 16px 40px;
    } */

    .footer-info {
        flex-direction: column-reverse;
        gap: 61px;
    }

    .footer-page-btn {
        gap: 41px;
    }

    .page-btn,
    .social-btn,
    .footer-contact-area>div {
        justify-content: center;
    }

    .footer-home {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        aspect-ratio: 1 / 0.7;
    }

    h1 {
        font-size: var(--h1-mobile-size);
    }

    h2 {
        font-size: var(--h2-mobile-size);
    }

    h3 {
        font-size: var(--h3-mobile-size);
    }

    h5 {
        font-size: var(--small-caption-mobile-size);
    }

    p,
    h6 {
        font-size: var(--p1-mobile-size);
    }
}

@media screen and (max-width: 700px) {
    .main-btn {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1002;
        background-color: var(--soft-sand-beige);
        gap: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .main-btn h3 {
        font-size: var(--h2-mobile-size);
    }

    .have-sub {
        flex-direction: column;
    }

    .submenu-icon {
        display: none;
    }

    .submenu {
        display: block;
        position: static;
        box-shadow: none;
        padding: 0;
        width: 100%;
    }

    .main-btn.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    /* .team-member {
        flex-direction: column;
    } */

    .team-member>div {
        width: 50%;
        margin: auto;
        margin-bottom: -61px;
    }

    .page-btn {
        flex-wrap: wrap;
        margin: auto;
    }

    .page-btn>div {
        width: 40%;
    }
}