@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Pirata+One&family=Rubik+Glitch&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: "SF Pro";
    src: url("../font/SF-Pro.ttf") format("ttf");
    font-display: swap;
}

/* font family */
:root {
    --heading: "DM Serif Display", serif;
    --paragraph: "SF Pro", sans-serif;
}

/* font weight */
:root {
    --regular: 400;
    --semibold: 600;
}

/* font size */
:root {
    --h1-size: 64px;
    --h2-size: 40px;
    --h3-p1-size: 24px;
    --h4-p2-size: 16px;
    --small-caption-size: 20px;
}

/* Color  */
:root {
    --light-cream: #FDF8F2;
    --deep-cocoa-brown: #3B2A23;
    --soft-sand-beige: #F3E7D8;
    --warm-light-gray: #E5DED2;
    --medium-warm-gray: #B3A89B;
    --warm-golden-accent: #D9B26B;
    --clay-taupe: #C3A78A;
}

/* Border Radius */
:root {
    --small-img: 52px;
    --large-img: 22px;
    --top-left-img: 0 0 22px 0;
    --left-img: 0 22px 22px 0;
}

/* box-shadow */
:root {
    --shadow: rgba(0, 0, 0, 0.25) 11px 14px 32.8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-cream);
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: var(--h1-size);
    color: var(--light-cream);
    font-family: var(--heading);
    font-weight: var(--regular);
    letter-spacing: calc(var(--h1-size) * 0.02);
}

h2,
h3,
h4 {
    font-family: var(--heading);
    font-weight: var(--regular);
    color: var(--deep-cocoa-brown);
}

h2 {
    font-size: var(--h2-size);
    letter-spacing: calc(var(--h2-size) * 0.02);
}

h3 {
    font-size: var(--h3-p1-size);
    letter-spacing: calc(var(--h3-p1-size) * 0.02);
}

h4 {
    font-size: var(--h4-p2-size);
    letter-spacing: calc(var(--h4-p2-size) * 0.02);
}

h5 {
    font-size: var(--small-caption-size);
    font-family: var(--paragraph);
    font-weight: var(--semibold);
    letter-spacing: calc(var(--small-caption-size) * 0.08);
}

h6 {
    font-size: var(--h4-p2-size);
    font-family: var(--paragraph);
    font-weight: var(--regular);
}

p {
    font-family: var(--paragraph);
    font-weight: var(--regular);
    font-size: var(--h3-p1-size);
}

.top-bar {
    background-color: var(--soft-sand-beige);
}

h5,
h6,
p {
    color: var(--deep-cocoa-brown);
}

.top-bar-in {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px 42px;
}

.inner,
.main {
    max-width: 1400px;
    margin: auto;
}

.logo {
    width: 120px;
}

.main-btn {
    display: flex;
    gap: 70px;
}

.have-sub {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu-icon {
    width: 24px;
}

.menu-icon,
.submenu {
    display: none;
}

.main {
    padding: 0px 42px;
}

.footer h6,
.footer h2,
.lower-footer h6 {
    color: var(--light-cream);
}

.footer {
    background-color: var(--medium-warm-gray);
}

.footer-in {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 35px 42px;
}

.footer-slogbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-discover-btn {
    background-color: var(--deep-cocoa-brown);
    padding: 15px 25px;
    border-radius: 10px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contact-info {
    display: flex;
    gap: 25px;
}

.footer-page-btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page-btn {
    display: flex;
    gap: 35px;
}

.footer-sub-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-btn {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.lower-footer {
    background-color: var(--deep-cocoa-brown);
}

.lower-footer-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 42px;
}

.lower-logo {
    width: 120px;
}