@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Pirata+One&family=Rubik+Glitch&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: "SF Pro";
    src: url("../font/SF-Pro.ttf") format("ttf");
    font-display: swap;
}

/* font family */
:root {
    --heading: "DM Serif Display", serif;
    --paragraph: "SF Pro", sans-serif;
}

/* font weight */
:root {
    --regular: 400;
    --semibold: 550;
}

/* font size */
:root {
    --h1-size: 52px;
    --h2-size: 40px;
    --h3-p1-size: 24px;
    --h4-p2-size: 16px;
    --small-caption-size: 20px;

    --h1-smaller-size: 46px;
    --h2-smaller-size: 34px;

    --h1-onesmaller-size: 50px;

    --h1-medium-size: 42px;
    --h2-medium-size: 30px;
    --h3-p1-medium-size: 20px;
    --h4-medium-size: 16px;
    --p2-medium-size: 15px;
    --small-caption-medium-size: 16px;

    --h1-mobile-size: 36px;
    --h2-mobile-size: 28px;
    --h3-mobile-size: 20px;
    --h4-p1-mobile-size: 16px;
    --p2-mobile-size: 14px;
    --small-caption-mobile-size: 12px;
}

/* Color  */
:root {
    --light-cream: #FDF8F2;
    --deep-cocoa-brown: #3B2A23;
    --soft-sand-beige: #F3E7D8;
    --warm-light-gray: #E5DED2;
    --medium-warm-gray: #B3A89B;
    --warm-golden-accent: #D9B26B;
    --clay-taupe: #C3A78A;
    --transparency-bg: rgba(59, 42, 35, 0.61);
    --transparency-bg-opacity: #3b2a234b;
}

/* Border Radius */
:root {
    --small-img: 52px;
    --large-img: 22px;
    --top-left-img: 0 0 22px 0;
    --left-img: 0 22px 22px 0;
}

/* box-shadow */
:root {
    --shadow: rgba(0, 0, 0, 0.25) 11px 14px 32.8px;
}

/* section padding */
:root {
    --section-padding: 42px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: var(--h1-size);
    color: var(--light-cream);
    font-family: var(--heading);
    font-weight: var(--regular);
    letter-spacing: calc(var(--h1-size) * 0.02);
}

h2,
h3,
h4 {
    font-family: var(--heading);
    font-weight: var(--regular);
    color: var(--deep-cocoa-brown);
}

h2 {
    font-size: var(--h2-size);
    letter-spacing: calc(var(--h2-size) * 0.02);
}

h3 {
    font-size: var(--h3-p1-size);
    letter-spacing: calc(var(--h3-p1-size) * 0.02);
}

h4 {
    font-size: var(--h4-p2-size);
    letter-spacing: calc(var(--h4-p2-size) * 0.02);
}

h5 {
    font-size: var(--small-caption-size);
    font-family: var(--paragraph);
    font-weight: var(--semibold);
    letter-spacing: calc(var(--small-caption-size) * 0.08);
}

h6 {
    font-size: var(--h4-p2-size);
    font-family: var(--paragraph);
    font-weight: var(--regular);
}

p {
    font-family: var(--paragraph);
    font-weight: var(--regular);
    font-size: var(--h3-p1-size);
}

.top-bar {
    background-color: var(--soft-sand-beige);
}

h5,
h6,
p {
    color: var(--deep-cocoa-brown);
}

.top-bar-in {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px 42px;
}

.inner {
    max-width: 1400px;
    margin: auto;
}

.logo {
    width: 120px;
}

.main-btn {
    display: flex;
    gap: 70px;
}

.have-sub {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-item {
    position: relative;
}

.submenu-icon {
    width: 24px;
}

.submenu {
    position: absolute;
    z-index: 1001;
    background-color: var(--soft-sand-beige);
    padding: 24px;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    flex-direction: column;
    gap: 21px;
    display: none;
}

.about-submenu {
    width: 210px;
}

.products-submenu {
    width: 190px;
}

.service-submenu {
    width: 240px;
}

.menu-icon {
    display: none;
}

.main {
    background-color: var(--light-cream);
    max-width: calc(1400px - 84px);
    margin: auto;
}

.footer h6,
.footer h2,
.lower-footer h6 {
    color: var(--light-cream);
}

.footer {
    background-color: var(--medium-warm-gray);
}

.footer-in {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 35px 42px;
}

.footer-slogbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-discover-btn {
    background-color: var(--deep-cocoa-brown);
    padding: 16px 40px;
    border-radius: 25px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-contact-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contact-info {
    display: flex;
    gap: 25px;
}

.footer-page-btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page-btn {
    display: flex;
    gap: 35px;
}

.footer-sub-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-btn {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.lower-footer {
    background-color: var(--deep-cocoa-brown);
}

.lower-footer-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 42px;
}

.lower-logo {
    width: 120px;
}

.logo:hover {
    opacity: 0.8;
}

.main-btn>div :hover {
    color: var(--medium-warm-gray);
}

.main-btn>div:hover .have-sub img {
    opacity: 0.5;
}

.btn-item:hover .submenu {
    display: flex;
}

.footer-discover-btn:hover {
    background-color: var(--warm-light-gray);
}

.footer-discover-btn:hover h6,
.footer-sub-page>div:hover h6,
.footer-home:hover h6,
.footer-contact:hover h6 {
    color: var(--deep-cocoa-brown);
}

.social-btn-link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1300px) {
    h1 {
        font-size: var(--h1-smaller-size);
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: var(--h1-onesmaller-size);
    }

    h2 {
        font-size: var(--h2-smaller-size);
    }

    .main-btn {
        gap: 50px;
    }

    .footer-discover-btn {
        padding: 12px 24px;
    }
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: var(--h2-medium-size);
    }

    h6 {
        font-size: var(--p2-medium-size);
    }

    p {
        font-size: var(--h3-p1-medium-size);
    }

    .top-bar-in,
    .footer-in {
        padding: 24px;
    }

    .lower-footer-in {
        padding: 20px 24px;
    }

    .main-btn {
        gap: 40px;
    }

    .home-btn {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    h3 {
        font-size: var(--h3-medium-size);
    }

    .main-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: var(--h1-mobile-size);
    }

    h2 {
        font-size: var(--h2-mobile-size);
    }

    h3 {
        font-size: var(--h3-mobile-size);
    }

    h4,
    p {
        font-size: var(--h4-p1-mobile-size);
    }

    h5 {
        font-size: var(--small-caption-mobile-size);
    }

    h6 {
        font-size: var(--p2-mobile-size);
    }

    .footer-slogbar {
        flex-direction: column;
        gap: 41px;
        text-align: center;
    }

    .footer-discover-btn {
        padding: 16px 40px;
    }

    .footer-info {
        flex-direction: column-reverse;
        gap: 61px;
    }

    .footer-page-btn {
        gap: 41px;
    }

    .footer-page-btn>div {
        justify-content: space-around;
    }

    .footer-contact-area>div {
        justify-content: center;
    }
}