.deep {
    background-color: var(--warm-light-gray);
}

/* .info {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
} */

.contact {
    max-width: 1000px;
    margin: auto;
}

.main-title {
    margin-top: -6px;
}

.hero-banner {
    background-image: url(../images/homehero.jpg);
}

.hero-banner>div {
    width: 90%;
}

.hero-banner h5 {
    color: var(--light-cream);
}

.our-craft-card {
    display: flex;
    align-items: center;
    background-color: var(--warm-light-gray);
    width: 80%;
    margin: auto;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    position: relative;
    top: -80px;
    z-index: 1001;
    margin-bottom: -80px;
}

.craft-info {
    width: 60%;
    padding: 70px;
}

.craft-img img {
    border-radius: var(--left-img);
}

.our-collections {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    padding: 190px 0 120px 0;
    position: relative;
    top: -120px;
    margin-bottom: -120px;
}

.collections-content {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

/* .content-row {
    display: flex;
    justify-content: center;
    gap: var(--row-list-img-three);
}

.frame {
    width: calc(30.2% - 40.67px);
    aspect-ratio: var(--sq-img);
    background-size: cover;
    border-radius: var(--small-img);
    box-shadow: var(--shadow);
}

.frame-bg-color {
    background-color: var(--transparency-bg);
    width: 100%;
    aspect-ratio: 1 /1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--frame-inside);
    border-radius: var(--small-img);
} */

.frame h2 {
    color: var(--light-cream);
}

.frame-living {
    background-image: url(../images/livingroom.jpg);

}

.frame-bedroom {
    background-image: url(../images/bedroomcard.jpg);
}

.frame-accessories {
    background-image: url(../images/homeacc.jpg);
}

.frame-lighting {
    background-image: url(../images/lighting.jpg);
}

.frame-seating {
    background-image: url(../images/seating.jpg);
}

.frame-dining {
    background-image: url(../images/dining.jpg);
}

.our-benefits {
    display: flex;
    align-items: center;
    gap: var(--row-img-paragraph);
    position: relative;
    z-index: 1001;
    top: -30px;
    margin-bottom: -30px;
}

.left-overlay-img {
    box-shadow: var(--shadow);
    width: calc(50% - 38px);
}

.left-overlay-img,
.left-overlay-img img {
    border-radius: var(--left-img);
}

.benefits-info {
    width: calc(50% - 38px);
    padding: 0 100px 0 0;
}

.benefits-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mark-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.our-strategy {
    text-align: center;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    position: relative;
    top: -30px;
    margin-bottom: -30px;
}

.strategy-illus {
    background-image: url(../images/strategyillus.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

.contact-column {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

.content-grid {
    background-color: var(--medium-warm-gray);
    width: 70%;
    margin: auto;
    padding: 32px;
    border-radius: var(--small-img);
}

.keep-right-grid {
    position: relative;
    left: 50px;
}

.keep-left-grid {
    position: relative;
    right: 50px;
}

.our-team {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    padding: 61px 0;
}

.team-member {
    display: flex;
    justify-content: center;
    gap: var(--row-img-four);
}

.personal-intro {
    width: calc(23.5% - 30.75px);
    justify-content: center;
}

/* .profile-img {
    box-shadow: var(--shadow);
} */

.profile-img img,
.profile-img {
    border-radius: var(--large-img);
}

.profile-info {
    width: 85%;
    background-color: var(--light-cream);
    box-shadow: var(--shadow);
    padding: 24px 0;
    border-radius: var(--large-img);
    margin: auto;
    position: relative;
    top: -61px;
}

.team-contact {
    padding: 0 42px;
}

.frame-bg-color:hover {
    background-color: var(--transparency-bg-opacity);
}

@media screen and (max-width: 1000px) {
    .craft-info {
        padding: 40px;
        width: 70%;
    }

    .collections-content {
        flex-direction: row;
        width: 70%;
        margin: auto;
        gap: var(--row-list-img-three-smaller);
    }

    .content-row {
        flex-direction: column;
        width: calc(50% - 15.5px);
        gap: var(--row-list-img-three-smaller);
    }

    .frame {
        width: 100%;
    }

    .our-benefits {
        gap: var(--row-img-paragraph-smaller);
    }

    .left-overlay-img {
        width: calc(60% - 19px)
    }

    .benefits-info {
        width: calc(40% - 19px);
        padding: 0 42px 0 0;
    }

    .content-grid {
        padding: 18px;
    }

    .team-member {
        flex-wrap: wrap;
    }

    .personal-intro {
        width: calc(50% - 20.5px);
    }
}