.deep {
    background-color: var(--warm-light-gray);
}

/* .info {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
} */

.contact {
    max-width: 1000px;
    margin: auto;
}

.main-title {
    margin-top: -6px;
}

.hero-banner {
    background-image: url(../images/homehero.jpg);
}

.hero-banner>div {
    width: 90%;
}

.hero-banner h5 {
    color: var(--light-cream);
}

.our-craft {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three-smaller);
}

.craft-mobile-title {
    display: none;
}

.our-craft-card {
    display: flex;
    align-items: center;
    background-color: var(--warm-light-gray);
    width: 80%;
    margin: auto;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    position: relative;
    top: -80px;
    z-index: 1001;
    margin-bottom: -80px;
    transition: all 0.3s;
}

.craft-info {
    width: 60%;
    padding: 70px;
}

.craft-img {
    background-image: url(../images/craft.jpg);
    border-radius: var(--left-img);
    width: 40%;
    aspect-ratio: 1 / 1.25;
    background-size: cover;
    background-position: center;
}

.craft-mobile-contact {
    display: none;
}

.our-collections {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    padding: 190px 0 120px 0;
    position: relative;
    top: -120px;
    margin-bottom: -120px;
}

.collections-content {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

/* .content-row {
    display: flex;
    justify-content: center;
    gap: var(--row-list-img-three);
} */

.frame {
    width: calc(30.2% - 40.67px);
    /* aspect-ratio: var(--sq-img);
    background-size: cover;
    border-radius: var(--small-img);
    box-shadow: var(--shadow); */
}

/* .frame-bg-color {
    background-color: var(--transparency-bg);
    width: 100%;
    aspect-ratio: 1 /1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--frame-inside);
    border-radius: var(--small-img);
} */

.frame h2 {
    color: var(--light-cream);
}

.frame-living {
    background-image: url(../images/livingroom.jpg);

}

.frame-bedroom {
    background-image: url(../images/bedroomcard.jpg);
}

.frame-accessories {
    background-image: url(../images/homeacc.jpg);
}

.frame-lighting {
    background-image: url(../images/lighting.jpg);
}

.frame-seating {
    background-image: url(../images/seating.jpg);
}

.frame-dining {
    background-image: url(../images/dining.jpg);
}

.our-benefits {
    display: flex;
    align-items: center;
    gap: var(--row-img-paragraph);
    position: relative;
    z-index: 1001;
    top: -30px;
    margin-bottom: -30px;
}

.benefits-info-mobile {
    display: none;
    text-align: center;
    background-color: var(--transparency-bg);
    width: 100%;
    aspect-ratio: 1 / 0.3;
    align-items: center;
    justify-content: center;
}

.benefits-info-mobile h2,
.benefits-info-mobile h5 {
    color: var(--light-cream);
}

.left-overlay-img {
    background-image: url(../images/benefits.jpg);
    border-radius: var(--left-img);
    box-shadow: var(--shadow);
    width: calc(50% - 38px);
    aspect-ratio: var(--left-overlay-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
}

.benefits-info {
    width: calc(50% - 38px);
    padding: 0 100px 0 0;
}

.benefits-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mark-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mark-content h6 {
    color: var(--deep-cocoa-brown);
}

.our-strategy {
    text-align: center;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    position: relative;
    top: -30px;
    margin-bottom: -30px;
}

.strategy-illus {
    background-image: url(../images/strategyillus.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

.strategy-illus-img {
    display: none;
    max-width: 600px;
    margin: auto;
}

.contact-column {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

.content-grid {
    background-color: var(--medium-warm-gray);
    width: 70%;
    margin: auto;
    padding: 32px;
    border-radius: var(--small-img);
    aspect-ratio: 1 / 0.6;
    transition: all 0.3s;
}

.keep-right-grid {
    position: relative;
    left: 50px;
}

.keep-left-grid {
    position: relative;
    right: 50px;
}

.our-team {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    padding: var(--section-padding-mobile);
}

/* .team-member {
    display: flex;
    justify-content: center;
    gap: var(--row-img-four);
}

.personal-intro {
    width: calc(23.5% - 30.75px);
    justify-content: center;
}

.profile-img img,
.profile-img {
    border-radius: var(--large-img);
}

.profile-info {
    width: 85%;
    background-color: var(--light-cream);
    box-shadow: var(--shadow);
    padding: 24px 0;
    border-radius: var(--large-img);
    margin: auto;
    position: relative;
    top: -61px;
} */

.team-contact {
    padding: 0 42px;
}

.our-craft-card:hover {
    transform: scale(1.02);
}

.left-overlay-img:hover {
    transform: scale(1.02);
}

.content-grid:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 1100px) {
    .benefits-info {
        padding: 0 30px 0 0;
    }

    .content-grid {
        padding: 15px;
        gap: 0;
    }

    .strategy-illus {
        background-size: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .craft-info {
        padding: 40px;
    }

    .craft-img {
        aspect-ratio: 1 / 1.5;
    }

    .collections-content {
        flex-direction: row;
        width: 70%;
        margin: auto;
        gap: var(--row-list-img-three-smaller);
    }

    .content-row {
        flex-direction: column;
        width: calc(50% - 15.5px);
        gap: var(--row-list-img-three-smaller);
    }

    .frame {
        width: 100%;
    }

    .our-benefits {
        gap: var(--row-img-paragraph-smaller);
    }

    .benefits-info {
        padding: 0;
    }

    /* .left-overlay-img {
        width: calc(60% - 19px)
    }

    .benefits-info {
        width: calc(40% - 19px);
        padding: 0 42px 0 0;
    } */

    .content-grid {
        width: 60%;
    }

    /* .team-member {
        flex-wrap: wrap;
    }

    .personal-intro {
        width: calc(35% - 20.5px);
    }

    .profile-img img {
        width: 100%;
    } */
}

@media screen and (max-width: 900px) {
    /* .our-strategy {
        top: 0;
        margin-bottom: 0;
        padding: var(--section-padding-mobile);
        gap: var(--row-list-img-three-smaller);
    } */

    .strategy-illus {
        background-image: none;
        justify-content: center;
    }

    .strategy-illus-img {
        display: block;
    }

    .contact-column {
        gap: var(--row-list-img-three-smaller);
    }

    .content-grid {
        width: 80%;
    }

    .keep-right-grid {
        left: 0;
    }

    .keep-left-grid {
        right: 0;
    }
}

@media screen and (max-width: 800px) {
    .our-craft {
        text-align: center;
        padding: var(--section-padding);
    }

    .our-craft-card {
        top: 0;
        margin-bottom: 0;
        box-shadow: none;
    }

    .craft-info {
        display: none;
    }

    .craft-img {
        width: 100%;
        aspect-ratio: var(--img-card);
        border-radius: var(--large-img);
    }

    .craft-mobile-title,
    .craft-mobile-contact {
        display: block;
        max-width: var(--mobile-max-content);
        margin: auto;
    }

    .our-collections {
        top: 0;
        margin-bottom: 0;
        padding: var(--section-padding-mobile);
    }

    .our-benefits {
        flex-direction: column;
        text-align: center;
        padding: 0 0 42px 0;
        top: 0;
        margin-bottom: 0;
    }

    .benefits-info-mobile {
        display: flex;
    }

    .left-overlay-img {
        width: 100%;
        aspect-ratio: 1 / 0.3;
        border-radius: 0;
        box-shadow: none;
    }

    .benefits-info {
        padding: 0 42px;
        width: 100%;
        max-width: var(--mobile-max-content);
    }

    .benefits-info>.title {
        display: none;
    }

    .our-strategy {
        top: 0;
        margin-bottom: 0;
        padding: var(--section-padding-mobile);
        gap: var(--row-list-img-three-smaller);
    }

}

@media screen and (max-width: 700px) {
    .our-collections {
        gap: var(--row-list-img-three-smaller);
    }

    .collections-content {
        flex-direction: column;
        width: 50%;
    }

    .content-row {
        width: 100%;
    }

    .strategy-illus {
        flex-direction: column;
        gap: var(--row-list-img-three-smaller);
    }

    .content-grid {
        max-width: 260px;
        padding: 30px;
    }

    .our-team {
        gap: var(--row-list-img-three-smaller);
    }

    /* .team-member {
        flex-direction: column;
    }

    .team-member>div {
        width: 50%;
        margin: auto;
        margin-bottom: -61px;
    } */
}