.hero-banner {
    background-image: url(../images/lroom-page.jpg);
}

.hero-title {
    text-align: center;
}

.six-row {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

.categories-set {
    text-align: center;
    padding: 120px 0 120px 0;
    gap: var(--row-list-img-three);
}

.frame {
    width: calc(30.2% - 40.67px);
}

.p-categories h6 {
    color: var(--deep-cocoa-brown);
}

.p-categories {
    margin-bottom: 61px;
}

.inspi {
    display: flex;
    align-items: center;
    background-color: var(--medium-warm-gray);
    gap: var(--row-img-paragraph);
    margin-bottom: 30px;
}

.inspi-info {
    width: 50%;
    padding-right: 30px;
}

.inspi-img {
    background-image: url(../images/inspiration.jpg);
    border-radius: var(--left-img);
    box-shadow: var(--shadow);
    width: calc(50% - 38px);
    aspect-ratio: var(--left-overlay-img);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1001;
    top: -15px;
    margin-bottom: -30px;
}

.lroom-craft {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three-smaller);
}

.craft-card {
    display: flex;
    align-items: center;
    background-color: var(--warm-light-gray);
    width: 80%;
    margin: auto;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    position: relative;
    top: -80px;
    z-index: 1001;
    margin-bottom: -80px;
}

.overlay-color h2 {
    color: var(--light-cream);
    padding: 0;
}

.craft-info {
    width: 60%;
    padding: 70px;
}

.p-categories {
    text-align: center;
    margin: 50px 0;
}

.craft-img {
    background-image: url(../images/intro.jpg);
    border-radius: var(--left-img);
    width: 40%;
    aspect-ratio: 1 / 1.25;
    background-size: cover;
    background-position: center;
}

.sofa {
    background-image: url(../images/sofa.jpg);
}

.coffee-table {
    background-image: url(../images/coffee-table.jpg);
}

.armchairs {
    background-image: url(../images/armchairs.jpg);
}

.armchairs h2 {
    text-align: center;
}

.lighting {
    background-image: url(../images/l-lighting.jpg);
}

.storage {
    background-image: url(../images/storage.jpg);
}

.cabinet {
    background-image: url(../images/cabinets.jpg);
}

.designer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    padding: var(--section-padding-mobile);
}

.title-mobile {
    display: none;
}

.contain-mobile {
    display: none;
}

.inspi-info-mobile {
    display: none;
    text-align: center;
    background-color: var(--transparency-bg);
    width: 100%;
    aspect-ratio: 1/0.3;
    align-items: center;
    justify-content: center;
}

.inspi-info-mobile h2,
.inspi-info-mobile h5 {
    color: var(--light-cream);
}

@media screen and (max-width: 1000px) {

    .craft-info {
        padding: 40px;
    }

    .craft-img {
        aspect-ratio: 1 / 1.5;
    }

    .inspi {
        gap: var(--row-img-paragraph-smaller);
    }

    .six-row {
        flex-direction: row;
        width: 70%;
        margin: auto;
        gap: var(--row-list-img-three-smaller);
    }

    .content-row {
        flex-direction: column;
        width: calc(50% - 15.5px);
        gap: var(--row-list-img-three-smaller);
    }

    .frame {
        width: 100%;
    }

    .designer {
        flex-wrap: wrap;
    }

    .personal-intro {
        width: calc(35% - 20.5px);
    }

    .profile-img img {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .lroom-craft {
        text-align: center;
        padding: var(--section-padding);
    }

    .craft-card {
        top: 0;
        margin-bottom: 0;
        box-shadow: none;
    }

    .craft-info {
        display: none;
    }

    .craft-img {
        width: 100%;
        aspect-ratio: var(--img-card);
        border-radius: var(--large-img);
    }

    .title-mobile,
    .contain-mobile {
        display: block;
        max-width: var(--mobile-max-content);
        margin: auto;
    }

    .categories-set {
        padding-top: 30px;
    }

    .inspi {
        flex-direction: column;
        text-align: center;
        padding: 0 0 42px 0;
        top: 0;
        margin-bottom: 0;

    }

    .inspi-info-mobile {
        display: flex;
    }

    .inspi-img {
        width: 100%;
        aspect-ratio: 1 / 0.3;
        border-radius: 0;
        box-shadow: none;
    }

    .inspi-info {
        padding: 0 42px;
        width: 100%;
        max-width: var(--mobile-max-content);
    }

    .inspi-info>.title {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .categories-set {
        gap: var(--row-list-img-three-smaller);
    }

    .six-row {
        flex-direction: column;
        width: 50%;
    }

    .content-row {
        width: 100%;
    }
}