.ourfurniture-herobanner {
    background-image: url(../images/ourfurniture-herobanner.jpg);
}


.ourfurniture-herobannertitle {
    text-align: center;
}


.ourfurnitureintro-img {
    background-image: url(../images/top-pick.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1.1 / 1.2;
}

.ourfurniture-title-text {
    gap: var(--list-title-paragraph);
}

.ourfurniture-intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: var(--row-img-paragraph-smaller);

}

.ourfurniture-section1 {
    display: flex;
    gap: var(--row-img-paragraph);
    background-color: var(--warm-light-gray);
}


.section2-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.section2-title h6 {
    color: var(--deep-cocoa-brown);
}

.frame {
    width: calc(30.2% - 40.67px);
}

.lroom {
    background-image: url(../images/lroom-p.jpg);
}

.bedroom {
    background-image: url(../images/bedroom.jpg);
}

.kitchen {
    background-image: url(../images/kitchen.jpg);
}

.c-text h2 {
    color: var(--light-cream);
}

.section2-info {
    gap: var(--row-list-img-three);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;

}

.ourfurniture-section3 {
    background-color: var(--warm-light-gray);
}

.section3-img {
    background-image: url(../images/build\ to\ last.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1.1 / 1.2;
}

.section3-info {
    display: flex;
}

.section3-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 76px 0 42px;
    gap: var(--list-title-paragraph);
}

/* .section3-title h2 {
    width: 90%;
}

.section3-title p {
    width: 90%;
} */

.section4-img {
    background-image: url(../images/ourdifference.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1.1 / 1.2;
}

.section4-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: var(--row-img-paragraph);
    gap: var(--list-title-paragraph);

}

.section4-title-text {
    gap: var(--list-title-paragraph);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}


.ourfurniture-section4 {
    display: flex;
}

.team-text div {
    display: flex;
    padding: 20px;
    gap: var(--list-title-paragraph);
    align-items: center;
}

.section4-text p {
    width: 80%;
}