.ourteamherobannertitle h6 {
    color: var(--warm-light-gray);
}

.ourteamherobannertitle {
    text-align: center;
}

.ourteam-herobanner {
    background-image: url(../images/ourteam-herobanner.jpg);

}

.ourteamintro-img {
    background-image: url(../images/about-ourteam.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1.3;
}

.ourteam-section1 {
    display: flex;
    gap: var(--row-img-paragraph);
    background-color: var(--medium-warm-gray);
}

.ourteam-intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourteam-title {
    width: 60%;
}

.ourteam-intro {
    gap: var(--list-title-paragraph);
}

.ourteam-text {
    width: 90%;
}

.smallinfo {
    display: flex;
}

.craftsmanship {
    display: flex;
    gap: 15px;
}

.designbuild {
    display: flex;
    gap: 15px;

}

.firfteen {
    font-family: var(--paragraph);
    color: var(--light-cream);
    font-size: 96px;
    font-weight: bold;
}

.seventeen {
    font-family: var(--paragraph);
    color: var(--light-cream);
    font-size: 96px;
    font-weight: bold;
}

.firfteen-title {
    margin-top: 50px;
}

.seventeen-title {
    margin-top: 50px;
}