.ourteamherobannertitle h6 {
    color: var(--warm-light-gray);
}

.ourteamherobannertitle {
    text-align: center;
}

.ourteam-herobanner {
    background-image: url(../images/ourteam-herobanner.jpg);

}