.hero-banner {
    background-image: url(../images/lroom.jpg);
}

.title {
    text-align: center;
    color: #FDF8F2;
}

.title p {
    font-style: italic;
    color: #FDF8F2;
}

.living-intro {
    display: flex;
    gap: 40px;
    height: 300px;
    align-items: center;
}

.intro-image {
    width: 60%;
    position: relative;
    bottom: 26px;
    z-index: 1;
}

.hero-banner-full {
    position: relative;
    z-index: 10;
}

.mobile-title {
    display: none;
}

.intro-image img {
    border-radius: var(--top-left-img);
    box-shadow: var(--shadow);
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 45px;
    position: relative;
    bottom: 45px;
}

.info p {
    font-size: var(--h3-size);
}

.categories {
    background-color: #E5DED2;
    padding-bottom: 90px;
}

.categories h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 80px;
}

.three-cat {
    display: flex;
    gap: 61px;
    display: flex;
    justify-content: center;
}

.lroom {
    background-image: url(../images/lroom-p.jpg);
}

.bedroom {
    background-image: url(../images/bedroom.jpg);
}

.kitchen {
    background-image: url(../images/kitchen.jpg);
}

.c-text h2 {
    color: var(--light-cream);
    padding: 0;
}

.fream {
    width: calc(30.2% - 40.67px);
    aspect-ratio: 1 /1;
    background-size: cover;
    border-radius: var(--small-img);
}

.overlay-color {
    background-color: var(--transparency-bg);
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    border-radius: var(--small-img);
    align-items: center;
}

.overlay-color:hover {
    background-color: var(--transparency-bg-opacity);
}

.overlay-color:hover h2 {
    opacity: 0;
}


.f-collections {
    display: flex;
    padding: 45px;
    gap: 60px;
    align-items: center;
}

.f-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.f-text p {
    font-size: var(--h3-size);
}

.f-img {
    width: 60%;
}

.f-img img {
    border-radius: var(--large-img);
}

.mobile {
    display: none;
}