.title {
    text-align: center;
    position: relative;
    bottom: 350px;
    color: #FDF8F2;
}

.living-intro {
    display: flex;
    gap: 40px;
    height: 300px;
}

.intro-image {
    width: 60%;
    position: relative;
    bottom: 125px;
    z-index: 1;
}

.hero-banner-full {
    position: relative;
    z-index: 10;
}

.intro-image img {
    border-radius: 22px;
    box-shadow: var(--shadow);
}

.info {
    width: 40%;
}

/* 类似这样 然后用gap 不用调padding */
.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info p {
    padding-right: 30px;
}

.categories {
    background-color: #E5DED2;
    padding: 50px;
    padding-bottom: 90px;
}

.categories h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
}

.three-cat div {
    width: 33.33%;
}

.three-cat {
    display: flex;
    gap: 61px;
}

.f-collections {
    display: flex;
    margin: 45px;
    gap: 30px;
}

.f-text {
    width: 40%;
}

.f-img {
    width: 60%;
}

.f-img img {
    border-radius: 22px;
}