.title {
    text-align: center;
    position: relative;
    bottom: 350px;
    color: #FDF8F2;
}

.title p {
    font-style: italic;
    color: #FDF8F2;
}

.living-intro {
    display: flex;
    gap: 40px;
    height: 300px;
}

.intro-image {
    width: 60%;
    position: relative;
    bottom: 125px;
    z-index: 1;
}

.hero-banner-full {
    position: relative;
    z-index: 10;
}

.intro-image img {
    border-radius: var(--top-left-img);
    box-shadow: var(--shadow);
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info p {
    font-size: var(--h3-p1-size);
}

.categories {
    background-color: #E5DED2;
    padding: 50px;
    padding-bottom: 90px;
}

.categories h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
}

.three-cat {
    display: flex;
    gap: 61px;
}

.three-cat img {
    border-radius: var(--small-img);
    ;
    aspect-ratio: 1/1;
}

.img-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(59, 42, 35, 0.63);
    opacity: 1;
    border-radius: var(--small-img);
    transition: 0.3s;
}

.overlay h2 {
    color: #FDF8F2;
}

.img-box:hover .overlay {
    opacity: 0;
}

.f-collections {
    display: flex;
    padding: 45px;
    gap: 60px;
    align-items: center;
}

.f-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.f-text p {
    font-size: var(--h3-p1-size);
}

.f-img {
    width: 60%;
}

.f-img img {
    border-radius: var(--large-img);
}