.title {
    text-align: center;
    position: relative;
    bottom: 350px;
    color: #FDF8F2;
}

.title p {
    font-style: italic;
    color: #FDF8F2;
}

.living-intro {
    display: flex;
    gap: 40px;
    height: 300px;
}

.intro-image {
    width: 60%;
    position: relative;
    bottom: 117px;
    z-index: 1;
}

.hero-banner-full {
    position: relative;
    z-index: 10;
}

.intro-image img {
    border-radius: var(--top-left-img);
    box-shadow: var(--shadow);
    min-height: 500px;
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 45px;
    position: relative;
    bottom: 45px;
}

.info p {
    font-size: var(--h3-size);
}

.categories {
    background-color: #E5DED2;
    padding: 50px;
    padding-bottom: 90px;
}

.categories h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
}

.three-cat {
    display: flex;
    gap: 61px;
}

.three-cat img {
    border-radius: var(--small-img);
    ;
    aspect-ratio: 1/1;
}

.lroom {
    background-image: url(../images/lroom-p.jpg);
}

.bedroom {
    background-image: url(../images/bedroom.jpg);
}

.kitchen {
    background-image: url(../images/kitchen.jpg);
}

.c-text {
    color: var(--light-cream);
}

.fream {
    width: calc(30.2% - 40.67px);
    aspect-ratio: 1 /1;
    background-size: cover;
    border-radius: var(--small-img);
}

.overlay-color {
    background-color: var(--transparency-bg);
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    border-radius: var(--small-img);
}

.overlay-color:hover {
    background-color: var(--transparency-bg-opacity);
}

.f-collections {
    display: flex;
    padding: 45px;
    gap: 60px;
    align-items: center;
}

.f-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.f-text p {
    font-size: var(--h3-size);
}

.f-img {
    width: 60%;
}

.f-img img {
    border-radius: var(--large-img);
}