.hero-banner {
    background-image: url(../images/lroom.jpg);
}

.title {
    text-align: center;
    color: var(--light-cream);
}

.living-intro {
    display: flex;
    gap: 40px;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.title h6 {
    color: var(--light-cream);
}

.intro-image {
    background-image: url(../images/lroom1.jpg);
    width: 60%;
    border-radius: var(--top-left-img);
    box-shadow: var(--shadow);
    aspect-ratio: 1 / 0.7;
    background-size: cover;
    background-position: center;
    border-radius: var(--top-left-img);
}

.mobile-title {
    display: none;
}


.info {
    width: 40%;
    padding-right: 45px;
}


.categories {
    background-color: #E5DED2;
    padding-bottom: 90px;
    position: relative;
    bottom: 50px;
}

.categories h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 80px;
}

.three-cat {
    display: flex;
    gap: 61px;
    display: flex;
    justify-content: center;
}

.lroom {
    background-image: url(../images/lroom-p.jpg);
}

.bedroom {
    background-image: url(../images/bedroom.jpg);
}

.kitchen {
    background-image: url(../images/kitchen.jpg);
}

.c-text h2 {
    color: var(--light-cream);
    padding: 0;
}

.frame {
    width: calc(30.2% - 40.67px);
    aspect-ratio: 1 /1;
    background-size: cover;
    border-radius: var(--small-img);
}

/* .overlay-color {
    background-color: var(--transparency-bg);
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    border-radius: var(--small-img);
    align-items: center;
} */

.overlay-color:hover {
    background-color: var(--transparency-bg-opacity);
}

.overlay-color:hover h2 {
    opacity: 0;
}


.f-collections {
    display: flex;
    padding: var(--section-padding);
    gap: 60px;
    align-items: center;
}

.f-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.f-img {
    width: 60%;
}

.f-img img {
    border-radius: var(--large-img);
}

.mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .categories {
        padding: var(--section-padding);
    }

    .categories div {
        gap: var(--row-list-img-three-smaller);
    }

    .categories h2 {
        padding: 0;
    }

    .three-cat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .three-cat div {
        width: 100%;
    }

    .f-text {
        display: none;
    }

    .mobile {
        display: block;
    }

    .f-img {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .f-img h2,
    p {
        text-align: center;
    }

    .categories h2 {
        font-size: var(--h2-mobile-size);
    }

    .living-intro {
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
        text-align: center;
        gap: 20px;
        padding: var(--section-padding);
    }

    .info h2 {
        display: none;
    }

    .info {
        width: 100%;
        padding: 0;
    }

    .mobile-title {
        display: block;
        text-align: center;
    }

    .intro-image {
        position: static;
        bottom: auto;
        padding-top: 20px;
        width: 100%;
        border-radius: var(--large-img);
        aspect-ratio: 1 / 0.5;
    }
}

@media screen and (max-width: 1073px) {
    .categories {
        bottom: 30px;
    }
}

@media screen and (max-width: 1058px) {
    .categories {
        bottom: 20px;
    }
}