.hero-banner {
    background-image: url(../images/lroom.jpg);
}

.title {
    text-align: center;
    color: var(--light-cream);
}

.living-intro {
    display: flex;
    gap: 40px;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.title h6 {
    color: var(--light-cream);
}

.intro-image {
    background-image: url(../images/lroom1.jpg);
    width: 60%;
    border-radius: var(--top-left-img);
    box-shadow: var(--shadow);
    aspect-ratio: 1 / 0.7;
    background-size: cover;
    background-position: center;
    border-radius: var(--top-left-img);
}

.mobile-title {
    display: none;
}


.info {
    width: 40%;
    padding-right: 45px;
}


.categories {
    text-align: center;
    background-color: var(--warm-light-gray);
    padding: 80px 0;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
    margin-bottom: -50px;
}

.lroom {
    background-image: url(../images/lroom-p.jpg);
}

.bedroom {
    background-image: url(../images/bedroom.jpg);
}

.kitchen {
    background-image: url(../images/kitchen.jpg);
}

.c-text h2 {
    color: var(--light-cream);
    padding: 0;
}

.overlay-color:hover {
    background-color: var(--transparency-bg-opacity);
}

.overlay-color:hover h2 {
    opacity: 0;
}


.f-collections {
    display: flex;
    padding: var(--section-padding);
    gap: 60px;
    align-items: center;
}

.f-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.f-img {
    width: 60%;
}

.f-img img {
    border-radius: var(--large-img);
}

.mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .main {
        text-align: center;
    }

    .categories {
        gap: var(--row-list-img-three-smaller);
        top: 0;
        padding: 61px 0;
    }

    .categories div {
        gap: var(--row-list-img-three-smaller);
    }

    .categories h2 {
        padding: 0;
    }

    .three-cat {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 50%;
    }

    .three-cat div {
        width: 100%;
    }

    .f-text {
        display: none;
    }

    .mobile {
        display: block;
    }

    .f-img {
        display: flex;
        flex-direction: column;
        gap: var(--row-list-img-three-smaller);
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .categories h2 {
        font-size: var(--h2-mobile-size);
    }

    .living-intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--row-list-img-three-smaller);
        padding: var(--section-padding);
    }

    .info h2 {
        display: none;
    }

    .info {
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .mobile-title {
        display: block;
    }

    .info,
    .mobile-title {
        max-width: var(--mobile-max-content);
    }

    .intro-image {
        position: static;
        bottom: auto;
        padding-top: 20px;
        width: 80%;
        border-radius: var(--large-img);
        aspect-ratio: var(--img-card);
        box-shadow: none;
    }
}

@media screen and (max-width: 1073px) {
    .categories {
        bottom: 30px;
        margin-bottom: -30px;
    }
}

@media screen and (max-width: 1058px) {
    .categories {
        bottom: 20px;
        margin-bottom: -20px;
    }
}