.hero {
    background-image: url("../images/repair&maintenance.png");
    text-align: center;
    background-size: cover;
    background-position: center;
}

.title-mobile {
    display: none;
}

.contain-mobile {
    display: none;
}

.repair-maintenance-section {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three-smaller);
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--warm-light-gray);
    width: 80%;
    margin: auto;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    position: relative;
    top: -80px;
    z-index: 1001;
    margin-bottom: -120px;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.overlay-color h2 {
    color: var(--light-cream);
    padding: 0;
}

.card-info {
    width: 60%;
    padding: 70px;

}

.card-info h3 {
    text-align: left;
}

.card-img {
    background-image: url(../images/furnitureservice.jpg);
    border-radius: var(--left-img);
    width: 40%;
    aspect-ratio: 1 / 1.25;
    background-size: cover;
    background-position: center;
}

.repair-section {
    background-color: var(--medium-warm-gray);
    padding: 120px 0 120px 0;
}

.repair-maintenance-section {
    background-color: var(--light-cream);
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three-smaller);
}

.repair-section-title h6 {
    color: var(--deep-cocoa-brown);
}

.sub-title {
    text-align: center;
    font-family: var(--heading);
    font-size: var(--h4-size);
    color: var(--medium-warm-gray);
}

.title {
    text-align: center;
}

.slogan {
    text-align: center;
}

.repair-row {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 40px;
}


.repair-card {
    width: 320px;
    background-color: var(--light-cream);
    border-radius: 40px;
    padding: 42px 34px;
    box-shadow: var(--shadow);
    text-align: center;
    transition: all 0.3s;
    /* transform: scale(1.02); */
    animation: reveal 5s both;

}


.repair-card h3 {
    font-size: 26px;
    margin-bottom: 18px;
}


.repair-card p {
    line-height: 1.7;
    color: var(--deep-cocoa-brown);
}

.repair-faq {
    padding: 55px;

}

.fqa-intro {
    display: flex;
    gap: var(--row-img-paragraph);
    align-items: center;
    position: relative;
    z-index: 1001;
}

.title h6 {
    color: var(--light-cream);
}


.fqa-info {
    width: 50%;
    padding-right: 30px;
}

.fqa-img {
    background-image: url(../images/fqa.png);
    border-radius: var(--left-img);
    box-shadow: var(--shadow);
    width: calc(50% - 38px);
    aspect-ratio: var(--left-overlay-img);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1001;
    top: -15px;
    margin-bottom: -60px;
    background-size: cover;
    background-position: center;
}

.content-item {
    border-bottom: 1px solid var(--medium-warm-gray);
    padding: 10px 0;
}

.fqa-content>div {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);

}

.repair-review {
    background: var(--medium-warm-gray);
    padding: 65px 0;
}

.repair-review-in {
    display: flex;
    gap: var(--row-img-paragraph);
    align-items: center;
    padding: 0 var(--section-padding);
}

.review-card {
    border-radius: var(--small-img);
    padding: 32px;
    width: 50%;
}

.review-card h2 {
    margin-bottom: 10px;
}


.stars {
    color: var(--warm-golden-accent);
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.review-card p {
    line-height: 1.75;
    margin-bottom: 20px;
}

.review-user {
    display: flex;
    align-items: center;
    gap: 12px;

}

.review-user img {
    width: 10%;
    height: 40px;
    border-radius: 200px;
    object-fit: cover;
}

.review-img {
    background-image: url(../images/ctm\ rvs.jpg);
    box-shadow: var(--shadow);
    width: 50%;
    aspect-ratio: 1/0.8;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1001;
    top: -15px;
    margin-bottom: -30px;
    border-radius: 22px 22px;
}

.repair-why {
    padding: 65px;
}

.why-grid {
    display: grid;
    grid-template-columns: 540px 460px;
    gap: 42px;
    align-items: center;
}

.why-list {
    display: grid;
    grid-template-columns: 260px 260px;
    gap: var(--list-title-paragraph);
    margin-top: 22px;
}

.why-item {

    gap: 12px;
    align-items: flex-start;
}

.why-item img {
    width: 22px;
    height: 22px;
    margin-top: 4px;
}

.why-item p {
    color: var(--deep-cocoa-brown);
    line-height: 1.6;
}

.why-img img {
    width: 100%;
    border-radius: var(--small-img);
    box-shadow: var(--shadow);
    aspect-ratio: 0.7 /0.8;
    object-fit: cover;
}

@keyframes reveal {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(80px);
    }

    30% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.material-card:nth-child(2) {
    animation-delay: 1s;
}

.material-card:nth-child(3) {
    animation-delay: 2s;
}