.hero {
    background-image: url("../images/repair&maintenance.png");
    text-align: center;
}

.title-mobile {
    display: none;
}

.contain-mobile {
    display: none;
}

.repair-maintenance-section {
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three-smaller);
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--warm-light-gray);
    width: 80%;
    margin: auto;
    border-radius: var(--large-img);
    box-shadow: var(--shadow);
    position: relative;
    top: -80px;
    z-index: 1001;
    margin-bottom: -120px;
}

.overlay-color h2 {
    color: var(--light-cream);
    padding: 0;
}

.card-info {
    width: 60%;
    padding: 70px;
}

.card-img {
    background-image: url(../images/furniture\ service.jpg);
    border-radius: var(--left-img);
    width: 40%;
    aspect-ratio: 1 / 1.25;
    background-size: cover;
    background-position: center;
}

.repair-section {
    background-color: var(--warm-light-gray);
    padding: 120px 0 120px 0;
}

.repair-maintenance-section {
    background-color: var(--light-cream);
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three-smaller);
}

.repair-section-title h6 {
    color: var(--deep-cocoa-brown);
}

.sub-title {
    text-align: center;
    font-family: var(--heading);
    font-size: var(--h4-size);
    color: var(--medium-warm-gray);
}

.title {
    text-align: center;
}

.slogan {
    text-align: center;
}

.repair-row {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 40px;
}


.repair-card {
    width: 320px;
    background-color: var(--light-cream);
    border-radius: 40px;
    padding: 42px 34px;
    box-shadow: var(--shadow);
    text-align: center;
}


.repair-card h3 {
    font-size: 26px;
    margin-bottom: 18px;
}


.repair-card p {
    line-height: 1.7;
    color: var(--deep-cocoa-brown);
}