/* .hero {
    position: relative;
    min-height: 555px;
    width: 100%;
    background-image: url("../images/servicemain.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--light-cream);
} */

.hero {
    background-image: url("../images/servicemain.png");
    text-align: center;
}

/* .hero-content h1 {
    color: var(--light-cream);
} */

/* .hero-content p {
    font-style: italic;
    color: var(--light-cream);
} */

/* .section-title {
    margin-bottom: 30px;
} */

.customer-section {
    display: flex;
    align-items: center;
    gap: var(--row-img-paragraph);
    /* gap=76px */
}

.customer-image {
    width: calc(30% - 38px);
    /* width: 30%; */
    border-radius: var(--small-img);
    aspect-ratio: var(--sq-img);
    background-position: center;
    background-size: cover;
    background-image: url(../images/customerservice.png)
}

.customer-title-mobile {
    display: none;
}

/* 照片的一些style一样可以用common里面set的 */
/* .customer-image img {
    width: 100%;
    max-width: 380px;
    border-radius: var(--small-img);
    object-fit: cover;

} */

.customer-text {
    width: calc(70% - 38px);
    /* width: 70%; */
    /* padding: 2%; */
}

/* .customer-text h2 {
    margin-bottom: 15px;
} */


/* fontsize style不用重新set */
/* .customer-text p {
    color: var(--deep-cocoa-brown);
    font-size: var(--h3-size);

} */

.support-section {
    background-color: var(--medium-warm-gray);
    padding: var(--section-padding);
    /* color: var(--deep-cocoa-brown); */
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}

/* .support-title {
    font-size: 40px;
    margin-bottom: 40px;
    padding: 0;
} */

.three-help {
    display: flex;
    justify-content: center;
    gap: var(--row-list-img-three);
}

.support-card {
    width: calc(33.3% - 40.67px);
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.support-card-img {
    /* width: 100%; */
    border-radius: var(--small-img);
    /* display: block; */
    /* aspect-ratio: 1 / 1; */
    /* object-fit: cover; */
    box-shadow: var(--shadow);
}

.support-card-img img {
    aspect-ratio: var(--sq-img);
    border-radius: var(--small-img);
}

.support-card-info {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

/* .support-card h3 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.support-card p {
    font-size: var(--h3-size);
    line-height: 1.6;
} */

/* .overlay {
    position: absolute;
    inset: 0;
    background: rgba(59, 42, 35, 0.63);
    opacity: 1;
    border-radius: var(--small-img);
    transition: 0.3s;
}

.overlay h2 {
    color: var(--light-cream);
}

.support-images:hover .overlay {
    opacity: 0;
} */

/* .support-text-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;

}

.support-text {
    max-width: 300px;
    color: var(--deep-cocoa-brown);
}

.support-text h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.support-text p {
    font-size: var(--h3-size);
    line-height: 1.5;
} */


/* 可以直接用我common的padding */
.section {
    padding: var(--section-padding);
}

/* .discover-section {
    border-top: 1px solid var(--soft-sand-beige);
    border-bottom: 1px solid var(--soft-sand-beige);
} */

/* .discover-list {
    margin-top: 15px;
} */

.discover-section {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.discover-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 10px;
    /* text-decoration: none; */
    /* font-size: 24px; */
    border-bottom: 1px solid var(--medium-warm-gray);
}

.arrow-icon {
    width: 18px;
    /* height: auto; */
}

.discover-item:hover {
    background-color: var(--warm-light-gray);
}


@media screen and (max-width: 800px) {
    .section {
        padding: var(--section-padding-mobile);
    }

    .customer-section {
        flex-direction: column;
        align-items: center;
        gap: var(--row-list-img-three-smaller);
        text-align: center;
    }

    .customer-image {
        width: 80%;
        aspect-ratio: var(--img-card);
    }

    .customer-title-mobile {
        display: block;
    }

    .customer-title {
        display: none;
    }

    /* .customer-image img {
        max-width: 100%;
        border-radius: var(--small-img);
    } */

    /* .customer-text {
        width: 100%;
        padding: 0;
    }

    .customer-text h2 {
        margin-bottom: 10px;
    }

    .customer-text p {
        font-size: var(--p1-mobile-size);
        line-height: 1.6;
    } */

    .three-help {
        flex-direction: column;
        /* align-items: stretch; */
        gap: var(--row-list-img-three-smaller);
    }

    .support-section {
        padding: var(--section-padding);
        gap: var(--row-list-img-three-smaller);
        text-align: center;
    }

    .support-title {
        font-size: var(--h2-mobile-size);
        /* margin-bottom: 24px;
        text-align: left; */
    }

    .support-card {
        width: 50%;
        margin: auto;
    }

    .support-card img {
        aspect-ratio: 4 / 3;
        border-radius: var(--small-img);
    }

    .discover-section {
        padding: var(--section-padding);
    }

    .arrow-icon {
        width: 14px;
    }

    /* .support-card h3 {
        font-size: var(--h3-mobile-size);
        margin-top: 16px;
        margin-bottom: 6px;
    }

    .support-card p {
        font-size: var(--p1-mobile-size);
        line-height: 1.6;
    }

    .support-text-row {
        flex-direction: column;
        gap: 20px;
        text-align: left;
    }

    .support-text {
        max-width: 100%;
    }

    .support-text h3 {
        font-size: var(--h3-mobile-size);
        margin-bottom: 6px;
    }

    .support-text p {
        font-size: var(--p1-mobile-size);
        line-height: 1.6;
    }


    .living-intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 24px;
    }

    .intro-image,
    .info {
        width: 70%;
    }

    .intro-image img {
        border-radius: var(--small-img);
    }


    .mobile-title {
        display: block;
        margin-bottom: 12px;
    } */

    /* .info div:first-child {
        display: none;
    } */

    /* .discover-item {
        font-size: var(--h3-mobile-size);
    } */

    /* .f-collections {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 24px;
    }

    .f-text,
    .f-img {
        width: 100%;
    }

    .f-text {
        text-align: left;
    }

    .f-text p {
        font-size: var(--p1-mobile-size);
        line-height: 1.6;
    }

    .f-img img {
        border-radius: var(--small-img);
        margin: 10px 0;
    }


    .f-collections .mobile {
        display: block;
        margin: 8px 0;
    } */
}