.hero {
    background-image: url("../images/servicemains.png");
    text-align: center;
}


.customer-section {
    display: flex;
    align-items: center;
    gap: var(--row-img-paragraph);

}

.customer-image {
    width: calc(30% - 38px);
    border-radius: var(--small-img);
    aspect-ratio: var(--sq-img);
    background-position: center;
    background-size: cover;
    background-image: url(../images/customerservice.png)
}

.customer-title-mobile {
    display: none;
}


.customer-text {
    width: calc(70% - 38px);
}

.support-section {
    background-color: var(--medium-warm-gray);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    gap: var(--row-list-img-three);
}


.three-help {
    display: flex;
    justify-content: center;
    gap: var(--row-list-img-three);
}

.support-card {
    width: calc(33.3% - 40.67px);
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.support-card-img {
    border-radius: var(--small-img);
    box-shadow: var(--shadow);
}

.support-card-img img {
    aspect-ratio: var(--sq-img);
    border-radius: var(--small-img);
}

.support-card-info {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}


.section {
    padding: var(--section-padding);
}


.discover-section {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.discover-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 10px;
    border-bottom: 1px solid var(--medium-warm-gray);
}

.arrow-icon {
    width: 18px;
}

.discover-item:hover {
    background-color: var(--warm-light-gray);
}


@media screen and (max-width: 800px) {
    .section {
        padding: var(--section-padding-mobile);
    }

    .customer-section {
        flex-direction: column;
        align-items: center;
        gap: var(--row-list-img-three-smaller);
        text-align: center;
    }

    .customer-image {
        width: 80%;
        aspect-ratio: var(--img-card);
    }

    .customer-title-mobile {
        display: block;
    }

    .customer-title {
        display: none;
    }


    .three-help {
        flex-direction: column;
        gap: var(--row-list-img-three-smaller);
    }

    .support-section {
        padding: var(--section-padding);
        gap: var(--row-list-img-three-smaller);
        text-align: center;
    }

    .support-title {
        font-size: var(--h2-mobile-size);
    }

    .support-card {
        width: 50%;
        margin: auto;
    }

    .support-card img {
        aspect-ratio: 4 / 3;
        border-radius: var(--small-img);
    }

    .discover-section {
        padding: var(--section-padding);
    }

    .arrow-icon {
        width: 14px;
    }

}