.hero {
    background-image: url("../images/storeavailability.png");
    text-align: center;
}

.section {
    padding: var(--section-padding);
}

.store-section {
    display: flex;
    align-items: center;
    gap: var(--row-img-paragraph);

}

.store-image {
    width: calc(30% - 38px);
    border-radius: var(--small-img);
    aspect-ratio: var(--sq-img);
    background-position: center;
    background-size: cover;
    background-image: url(../images/store.png)
}

.store-title-mobile {
    display: none;
}


.store-text {
    width: calc(70% - 38px);
}

.store-title-mobile {
    display: none;
}


.category {
    background-color: var(--warm-light-gray);
    padding: 45px 0 55px;
}

.category-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
    gap: 20px;
}


.search-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-box {
    width: 360px;
    max-width: 360px;
    padding: 16px 40px;
    border-radius: 25px;
    background-color: var(--light-cream);
    border: 1px solid var(--medium-warm-gray);
    font-family: var(--paragraph);
    font-size: var(--h3-size);
    color: var(--medium-warm-gray);
    display: flex;
    align-items: center;
}


.go-btn {
    padding: 16px 40px;
    border-radius: 25px;
    border: none;
    background-color: var(--deep-cocoa-brown);
    color: var(--light-cream);
    font-family: var(--paragraph);
    font-weight: var(--regular);
    font-size: var(--h3-size);
}

.go-btn:hover {
    background-color: var(--warm-light-gray);
}

.category-menu {
    display: flex;
    justify-content: center;
    gap: 68px;
    padding: 40px 42px 0;
    flex-wrap: wrap;
}


.category-item {
    font-family: var(--heading);
    font-size: var(--h3-size);
    color: var(--deep-cocoa-brown);
    padding-bottom: 6px;
}

.category-item.active {
    opacity: 1;
    border-bottom: 2px solid var(--warm-golden-accent);
}

.product-list {
    display: flex;
    justify-content: center;
    gap: var(--row-list-img-three);
    padding: var(--section-padding);
}

.product-box {
    width: calc(33.3% - 40.67px);
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.product-pic img {
    width: 100%;
    aspect-ratio: var(--sq-img);
    object-fit: cover;
    border-radius: var(--small-img);
    box-shadow: var(--shadow);
}

.product-text {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--paragraph);
}

.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-dot {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--medium-warm-gray);
}

.dot.on {
    background-color: var(--transparency-bg);
}

.dot.cocoa {
    background-color: var(--deep-cocoa-brown);
}

.dot.golden {
    background-color: var(--warm-golden-accent);
}

.dot.clay {
    background-color: var(--clay-taupe);
}

.material-intro {
    display: flex;
    gap: 40px;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.title h6 {
    color: var(--light-cream);
}

.material-intro {
    display: flex;
    align-items: center;
    background-color: var(--light-cream);
    gap: var(--row-img-paragraph);
    margin-bottom: 30px;
}

.material-info {
    width: 50%;
    padding-right: 30px;
}

.material-img {
    background-image: url(../images/material.png);
    border-radius: var(--left-img);
    box-shadow: var(--shadow);
    width: calc(50% - 38px);
    aspect-ratio: var(--left-overlay-img);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1001;
    top: -15px;
    margin-bottom: -60px;
}

.material-content>div {
    display: flex;
    flex-direction: column;
    gap: var(--list-title-paragraph);
}

.explore-btn {
    padding: 16px 40px;
    border-radius: 25px;
    border: none;
    background-color: var(--deep-cocoa-brown);
    color: var(--light-cream);
    font-family: var(--paragraph);
    font-weight: var(--regular);
    font-size: var(--h3-size);
    width: fit-content;
}

.explore-btn:hover {
    background-color: var(--warm-light-gray);
}

.steps {
    padding: 80px 42px;
    background-color: var(--warm-light-gray);
    align-items: center;
    gap: var(--row-img-paragraph);
}

.steps ol {
    margin-top: 20px;
    padding-left: 20px;
}

.steps li {
    margin-bottom: 12px;
}


@media screen and (max-width: 1000px) {
    .category-top {
        padding: 0 24px;
    }

    .search-box {
        width: 280px;
        max-width: 280px;
        padding: 14px 28px;
    }

    .go-btn {
        padding: 14px 28px;
    }

    .category-menu {
        gap: 30px;
        padding: 28px 24px 0;
    }

    .product-list {
        padding: 50px 24px;
        gap: 28px;
    }

    .product-box {
        width: calc(50% - 14px);
    }

    .steps {
        padding: 60px 24px;
    }
}

@media screen and (max-width: 800px) {
    .store-section {
        flex-direction: column;
        text-align: center;
    }

    .store-image,
    .store-text {
        width: 100%;
    }

    .store-image {
        aspect-ratio: 2/ 1;
        border-radius: var(--small-img);
    }

    .store-title {
        display: none;
    }

    .store-title-mobile {
        display: block;
        width: 100%;
        text-align: left;
    }


    .category-top {
        flex-direction: column;
        gap: 16px;
        padding: 0 24px;
    }

    .search-area {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .search-box {
        width: 50%;
        max-width: 100%;
        justify-content: flex-start;
    }

    .go-btn {
        white-space: nowrap;
    }

    @media screen and (max-width: 800px) {


        .category-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 12px 14px;
            padding: 24px 20px 0;
        }

        .category-item {
            padding: 10px 18px;
            border-radius: 20px;
            background-color: var(--light-cream);
            font-size: var(--p1-mobile-size);

            white-space: nowrap;
            transition: all 0.2s ease;
        }

        .category-item.active {
            background-color: var(--deep-cocoa-brown);
            color: var(--light-cream);
            border: none;
        }

        .category-item:hover {
            background-color: var(--warm-light-gray);
        }
    }

    .product-list {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 40px 24px;
        flex-direction: column;
        align-items: center;
    }

    .product-box {
        width: calc(50% - 14px);
    }


    .material-intro {
        flex-direction: column;
        margin: 0 24px 40px;
        gap: 18px;
        text-align: center;
        padding: 10px 0 0;
    }

    .material-img,
    .material-info {
        width: 100%;
    }

    .material-img {
        top: 0;
        margin-bottom: 0;
        aspect-ratio: 16 / 10;
        border-radius: var(--small-img);
    }

    .steps {
        padding: 50px 24px;
    }

    .explore-btn {
        width: 100%;
        box-sizing: border-box;
    }

    @media screen and (max-width: 600px) {

        .product-box {
            width: 100%;
        }

        .product-pic img {

            width: 50%;
        }

        .product-top,
        .product-bottom {
            gap: 10px;
        }

        .go-btn,
        .explore-btn {
            width: 100%;
            text-align: center;
        }
    }

    @media screen and (max-width: 450px) {
        .category {
            padding: 35px 0 45px;
        }

        .product-list {
            padding: 32px 18px;
        }

        .store-section {
            padding: 32px 18px;
        }

        .steps {
            padding: 40px 18px;
        }
    }

}