.hero {
    background-image: url("../images/storeavailability.png");
    text-align: center;
}

.section {
    padding: var(--section-padding);
}

.store-section {
    display: flex;
    align-items: center;
    gap: var(--row-img-paragraph);

}

.store-image {
    width: calc(30% - 38px);
    border-radius: var(--small-img);
    aspect-ratio: var(--sq-img);
    background-position: center;
    background-size: cover;
    background-image: url(../images/store.png)
}

.store-title-mobile {
    display: none;
}


.store-text {
    width: calc(70% - 38px);
}

.store-title-mobile {
    display: none;
}


.category {
    background-color: var(--warm-light-gray);
    padding: 45px 0 55px;
}

.category-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
    gap: 20px;
}


.search-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-box {
    width: 360px;
    max-width: 55vw;
    padding: 14px 20px;
    border-radius: 999px;
    background-color: #ffffff;
    border: 1px solid var(--medium-warm-gray);
    font-family: var(--paragraph);
    font-size: 14px;
    color: var(--medium-warm-gray);
    display: flex;
    align-items: center;
}


.go-btn {
    padding: 14px 28px;
    border-radius: 999px;
    border: none;
    background-color: var(--deep-cocoa-brown);
    color: var(--light-cream);
    font-family: var(--paragraph);
    font-weight: var(--semibold);
    cursor: pointer;
}

/* .go-btn:hover{
  opacity: 0.85;
} */

.category-menu {
    display: flex;
    justify-content: center;
    gap: 68px;
    padding: 26px 42px 0;
    flex-wrap: wrap;
}


.category-item {
    font-family: var(--paragraph);
    font-size: 14px;
    color: var(--deep-cocoa-brown);
    opacity: 0.7;
    padding-bottom: 6px;
}

.category-item.active {
    opacity: 1;
    border-bottom: 2px solid var(--deep-cocoa-brown);
}