body {
    font-family: "Space Grotesk", sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    padding-bottom: 20px;
    font-size: 24px;

}

.logo {
    width: 300px;
}

.main-btn {
    display: flex;
    align-items: center;
}

.main-btn div {
    padding: 20px 15px;

}

.main-btn h4 {
    padding: 10px 15px;
    margin: 0;
}

.usecase-btn h4 {
    background-color: #B9FF66;
    border-radius: 15px;
}

.requestbtn {
    font-family: "Space Grotesk", sans-serif;
    background-color: white;
    border: 2px solid #191A23;
    font-size: 24px;
    padding: 20px 35px;
    border-radius: 15px;
}

.menu-icon {
    display: none;
    width: 30px;
}

.main {
    /* max-width: 1920px;
            margin: auto; */
    padding: 60px 120px;
}

.story1 {
    display: flex;
    background-color: #F3F3F3;
    padding: 40px;
    border-radius: 60px;
    /* align-items: center; */
}

.title-proven-small {
    display: none;
}

.illus {
    width: 50%;
    padding: 0 50px;
}

.title1 {
    width: 50%;
    padding: 0 100px;
}

.title-proven {
    font-size: 35px;

}

/* .title-proven h1 {
            margin: 0;
        } */

.content-proven {
    font-size: 26px;
}

.story2-out {
    display: flex;
    justify-content: space-between;
    background-color: #191A23;
    color: white;
    padding: 80px;
    border-radius: 60px;
    margin-top: 180px;
}

.story2 {
    display: flex;
    justify-content: space-between;
    /* background-color: #191A23;
            color: white;
            padding: 80px;
            border-radius: 60px;
            margin-top: 180px; */
}

.star {
    width: 32px;
    padding: 0 10px;
    display: none;
}

.title2 {
    width: 48%;
}

.greentitle {
    display: flex;
}

.greentitle h1 {
    font-size: 52px;
    background-color: #B9FF66;
    color: #191A23;
    padding: 5px 8px;
    margin: 15px 0;
    border-radius: 20px;
}

.greentitle-small {
    font-size: 30px;
    display: none;
    color: #B9FF66;
}

.title2-sub {
    font-size: 42px;
    padding: 40px;
    padding-left: 0;
}

.title2-content {
    font-size: 24px;
    padding: 20px 0;
}

.go-read {
    display: flex;
    align-items: center;
    padding: 60px 0;
    gap: 30px;
}

.readicon {
    width: 60px;
}

.readlink,
.readlink-small {
    font-size: 28px;
    color: #B9FF66;
}

.meterial {
    width: 45%;
}

/* .meterial {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            width: 50%;
            padding: 20px;
        } */

/* .meterial div {
            background-color: white;
            color: #191A23;
            padding: 30px;
            border-radius: 20px;
            width: 50%;
            text-align: center;
        } */

.twohundredto {
    display: flex;
}

.seventyfiveto {
    display: flex;
}

.twohundredto div,
.seventyfiveto div {
    background-color: white;
    color: #191A23;
    margin: 24px;
    padding: 32px;
    border-radius: 40px;
    width: 50%;
    text-align: center;
}

.twohundredto h1,
.seventyfiveto h1 {
    font-size: 58px;
    margin: 0;
    padding: 14px;
}

.twohundredto p,
.seventyfiveto p {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 14px;
}

.go-read-small {
    display: none;
    align-items: center;
}

.readicon-small {
    width: 38px;
    padding: 15px 0;
}

@media screen and (max-width: 1700px) {
    .top-bar {
        font-size: 20px;
    }

    .logo {
        width: 250px;
    }

    .main-btn div {
        padding: 15px 10px;

    }

    .main-btn h4 {
        padding: 5px 10px;
    }

    .requestbtn {
        font-size: 20px;
        padding: 14px 25px;
    }

    .story2-out {
        margin-top: 100px;
    }

    .title-proven {
        font-size: 28px;
    }

    .content-proven {
        font-size: 18px;
    }

    .greentitle h1 {
        font-size: 42px;
    }

    .title2-sub {
        font-size: 32px;
        padding: 20px 0;
    }

    .title2-content {
        font-size: 20px;
        padding: 15px 20px;
        padding-left: 0;
    }

    .twohundredto div,
    .seventyfiveto div {
        margin: 18px;
        padding: 24px;
    }

    .twohundredto h1,
    .seventyfiveto h1 {
        font-size: 42px;
        padding: 8px;
    }

    .twohundredto p,
    .seventyfiveto p {
        font-size: 22px;
        padding: 8px;
    }

    .go-read {
        padding-top: 20px;
        padding-bottom: 0;
        gap: 15px;
    }

    .readicon {
        width: 40px;
    }

    .readlink {
        font-size: 20px;
    }

}

@media screen and (max-width: 1500px) {
    .top-bar {
        font-size: 18px;
        padding: 30px 80px;
    }

    .logo {
        width: 180px;
    }

    .main-btn div {
        padding: 10px 5px;

    }

    .requestbtn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .illus {
        padding: 0 20px;
    }

    .title1 {
        padding: 0 50px;
    }

    .title-proven {
        font-size: 22px;
    }

    .content-proven {
        font-size: 16px;
    }

    .main {
        padding: 10px 80px;
    }

    .story2-out {
        margin-top: 60px;
        padding: 60px;
        border-radius: 40px;
    }

    .greentitle h1 {
        font-size: 28px;
        border-radius: 10px;
    }

    .title2-sub {
        font-size: 24px;
        padding: 10px 0;
    }

    .title2-content p {
        font-size: 18px;
        margin: 0;
    }

    .twohundredto div,
    .seventyfiveto div {
        margin: 15px;
        padding: 15px;
        border-radius: 20px;
    }

    .twohundredto h1,
    .seventyfiveto h1 {
        font-size: 28px;
        padding: 5px;
    }

    .twohundredto p,
    .seventyfiveto p {
        font-size: 16px;
        padding: 5px;
    }
}

@media screen and (max-width: 1100px) {
    .main-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .top-bar {
        padding: 20px 40px;
    }

    .main {
        padding: 0 40px;
    }

    .story1 {
        padding: 20px;
    }

    .title-proven {
        font-size: 16px;
    }

    .content-proven {
        font-size: 12px;
    }

    .story2-out {
        margin-top: 30px;
        padding: 30px;
    }

    .greentitle {
        display: none;
    }

    .greentitle-small {
        display: block;
    }

    .title2-sub {
        font-size: 20px;
    }

    .title2-content p {
        font-size: 14px;
    }

    .go-read {
        gap: 10px;
        padding: 5px 0;
    }

    .readicon {
        width: 32px;
    }

    .readlink {
        font-size: 14px;
    }

    .twohundredto div,
    .seventyfiveto div {
        margin: 12px;
        padding: 18px;
    }

    .twohundredto h1,
    .seventyfiveto h1 {
        font-size: 22px;
    }

    .twohundredto p,
    .seventyfiveto p {
        font-size: 12px;
        padding: 0;
    }

}

@media screen and (max-width: 760px) {
    .top-bar {
        padding: 20px;
    }

    .logo {
        width: 200px;
    }

    .main {
        padding: 0 10px;
    }

    .story1 {
        flex-direction: column;
        padding: 10;
        background-color: white;
    }

    .title-proven-small h1,
    .content-proven p {
        margin: 0;
    }

    .title1 {
        padding: 0;
    }

    .title-proven-small {
        font-size: 28px;
    }

    .content-proven {
        padding: 10px;
        font-size: 20px;
    }

    .illus {
        padding: 10px;
    }

    .title-proven-small {
        display: block;
    }

    .title-proven {
        display: none;
    }

    .illus,
    .title1,
    .title2,
    .meterial {
        width: 100%;
    }

    .story2-out {
        padding: 40px;
    }

    .story2 {
        flex-direction: column;
        width: 80%;
    }

    .star {
        display: block;
    }

    .title2-sub {
        font-size: 24px;
    }

    .title2-content p {
        font-size: 18px;
    }

    .twohundredto,
    .seventyfiveto {
        flex-direction: column;
    }

    .twohundredto div,
    .seventyfiveto div {
        flex-direction: column;
        width: 80%;
        margin: 15px 0;
        padding: 15px;
    }

    .twohundredto h1,
    .seventyfiveto h1 {
        font-size: 36px;
        padding: 10px;
    }

    .twohundredto p,
    .seventyfiveto p {
        font-size: 18px;
        padding: 10px;
    }

    .go-read {
        display: none;
    }

    .go-read-small {
        display: block;
        display: flex;
        gap: 10px;
    }

    .readlink-small {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {
    .top-bar {
        padding: 10px;
    }

    .main {
        padding: 5px;
    }

    .story1 {
        padding: 5px;
    }

    .title-proven-small {
        font-size: 22px;
    }

    .content-proven {
        padding: 5px;
        font-size: 16px;
    }

    .story2-out {
        padding: 30px;
    }

    .greentitle-small {
        font-size: 24px;
    }

    .title2-content p {
        font-size: 16px;
    }
}